@import "../../env-styles/common";

.iconed-list {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    align-items: center;
  }

  &__icon {
    font-size: pxToRem(48px);
    color: transparent;
    background: $gradient;
    -webkit-background-clip: text;
    margin-right: 10px;
  }

  &__separator {
    display: block;
    height: 1px;
    background: $dark_shade10;
    margin: 20px 0;
  }

  &__text {
    display: inline-block;
    font-size: pxToRem(14px);
    color: $dark_shade75;
  }

  &__title {
    font-weight: bold;
  }

}
