@import '../../env-styles/abstract';
@import '../../env-styles/functions';
@import '../../env-styles/variables';

.iconed-list {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid $dark-shade10;
    list-style: none;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  &__icon {
    @extend %material-icons;

    margin-right: 10px;
    background: $gradient;
    -webkit-background-clip: text;
    color: transparent;
    font-size: px-to-rem(48px);
  }

  &__separator {
    display: block;
    border-top: 1px solid $dark-shade10;
    margin: 20px 0;
  }

  &__text {
    display: inline-block;
    color: $dark-shade75;
    font-size: px-to-rem(14px);
    line-height: px-to-rem(24px);
  }

  &__title {
    font-weight: bold;
  }
}
