@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
  url('~@fonts/open-sans/fonts/open-sans-v17-cyrillic-700.woff2') format('woff2'),
  url('~@fonts/open-sans/fonts/open-sans-v17-cyrillic-700.woff') format('woff');
}
