@import '../../env-styles/abstract';
@import '../../env-styles/theme';

.login-card {
  @extend %card;

  &__title {
    @extend h1;
    margin-bottom: 20px;
  }

  &__item {
    margin-bottom: 10px;
  }

  &__submit {
    margin-top: 20px;
  }

  &__offer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1px;
    margin-top: 25px;
    color: black;
  }

  &__registration-text {
    padding-right: 4px;
    margin-top: 5px;
    line-height: px-to-rem(18px);
  }

  &__registration-button {
    margin-top: 5px;
  }
}
