@import "../../env-styles/variables";
@import "../../env-styles/functions";
@import "../../env-styles/abstract";

.login-card {
  @extend %card;

  &__title {
    margin-bottom: 20px;
  }

  &__item {
    margin-bottom: 10px;
  }

  &__submit {
    margin-top: 20px;
  }

  &__offer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
