@import '../../env-styles/abstract';

.login-card {
  @extend %card;

  &__title {
    margin-bottom: 20px;
  }

  &__item {
    margin-bottom: 10px;
  }

  &__submit {
    margin-top: 20px;
  }

  &__offer {
    margin-top: 25px;
    padding-bottom: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: black;
  }

  &__registration-text {
    margin-top: 5px;
  }

  &__registration-button {
    margin-top: 5px;
  }
}
