@import "../../env-styles/variables";
@import "../../env-styles/functions";

.title{
  display: flex;
  justify-content: space-between;
  padding-bottom: pxToRem(5px);

  text-transform: uppercase;
  font-size: pxToRem(12px);
  line-height: pxToRem(15px);

  &__main{
    font-weight: bold;
    color: $dark_shade100;
  }
  &__subtitle{
    color: $dark_shade50;
  }
}
