@import '../../env-styles/functions';
@import '../../env-styles/variables';

.title {
  display: flex;
  justify-content: space-between;
  padding-bottom: px-to-rem(5px);
  font-size: px-to-rem(12px);
  line-height: px-to-rem(15px);
  text-transform: uppercase;

  &__main {
    color: $dark-shade100;
    font-weight: bold;
  }

  &__subtitle {
    color: $dark-shade50;
  }
}
