include ../header/header
include ../sidebar/sidebar

mixin adaptive-header({links, login, register, username})
  +header({links, login, register, username})
  +sidebar({links, login, register, username})
