@import '../../env-styles/variables';
@import '../../env-styles/abstract';
@import '../../env-styles/functions';

.calculator-card {
  @extend %card;

  &__title {
    margin-bottom: 20px;
  }

  &__date {
    margin-bottom: 20px;
    cursor: default;
  }

  &__guests {
    margin-bottom: 18px;
  }

  &__calculates {
    display: grid;
    margin-bottom: 30px;
    margin-left: 1px;
    grid-row-gap: px-to-rem(11px);
    grid-template-columns: 0.73fr auto 0.2fr;
    line-height: px-to-rem(18px);
  }

  &__price-info {
    line-height: px-to-rem(24px);

    &_line_small {
      padding-top: 2px;
      line-height: px-to-rem(18px);
    }
  }

  &__price {
    white-space: nowrap;
  }

  &__tooltip {
    display: inline-flex;
    width: px-to-rem(20px);
    height: px-to-rem(20px);
    align-items: center;
    justify-content: center;
    border: 1px solid $dark-shade25 {
      radius: 50%;
    }
    color: $dark-shade25;
    cursor: help;
    font-size: px-to-rem(12px);
    font-weight: bold;
    line-height: px-to-rem(14px);
  }

  &__price-item {
    width: min-content;
    justify-self: right;
    line-height: px-to-rem(24px);
    white-space: nowrap;

    &_line_small {
      padding-top: 2px;
      line-height: px-to-rem(18px);
    }
  }

  &__result {
    display: flex;
    margin-bottom: 20px;
    margin-left: 1px;
  }

  &__separator {
    flex-grow: 2;
    border-bottom: 1px dotted $dark-shade25;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
  }

  &__summary {
    white-space: nowrap;
  }
}
