include ../logo/logo
include ../link-with-menu/link-with-menu
include ../button/button
include ../main-links/main-links
include ../profile-links/profile-links

mixin sidebar({links, login, register, profile})
  .sidebar.js-sidebar
    .sidebar__dim.js-sidebar__dim
    aside.sidebar__main.js-sidebar__main
      button.sidebar__close-button.js-sidebar__close-button
        i.sidebar__icon close
      .sidebar__logo
        +logo
      +main-links({links, isVertical: true})
      +profile-links({login, register, profile, isVertical: true})
