@import '../../../kit/env-styles/variables';

$details-page-point_images-medium: 850px;
$details-page-point_images-small: 430px;

$details-page-point_content-large: 1070px;
$details-page-point_content-medium: 770px;
$details-page-point_content-small: 460px;

.room-details {
  &__images {
    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(2, 34.06%) auto;
    // @formatter:off
    grid-template-areas:
        'img-1 img-1 img-2'
        'img-1 img-1 img-3'
    ;
    // @formatter:on
    @media screen and (max-width: $details-page-point_images-medium) {
      grid-template-columns: 1fr 1fr;
      // @formatter:off
      grid-template-areas:
          'img-1 img-1'
          'img-2 img-3'
      ;
      // @formatter:on
    }
    @media screen and (max-width: $details-page-point_images-small) {
      grid-template-columns: 1fr;
      grid-template-areas: 'img-1' 'img-2' 'img-3';
    }
    @media screen and (min-width: 1439px) and (max-width: 1441px) {
      max-height: 485px;
    }
  }

  &__image-1 {
    grid-area: img-1;
    width: 100%;
  }

  &__image-2 {
    grid-area: img-2;
    width: 100%;
  }

  &__image-3 {
    grid-area: img-3;
    width: 100%;
  }

  &__details {
    max-width: 1183px;
    margin: 69.5px auto 63px;
    padding: 0 10px;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 29px;
    // @formatter:off
    grid-template-columns: 0.7fr 0.93fr 1fr;
    grid-template-areas:
        'info chart card'
        'feedbacks feedbacks card'
        'rules cancel card'
    ;
    // @formatter:on

    @media screen and (max-width: $details-page-point_content-large) {
      grid-template-columns: 0.8fr 1fr;
      // @formatter:off
      grid-template-areas:
          'info card'
          'chart card'
          'feedbacks feedbacks'
          'rules cancel'
      ;
      // @formatter:on
      grid-column-gap: 30px;
      margin-left: 30px;
      margin-right: 30px;
    }

    @media screen and (max-width: $details-page-point_content-medium) {
      grid-template-columns: 1fr;
      grid-template-areas: 'card' 'info' 'chart' 'feedbacks' 'rules' 'cancel';
      justify-items: center;
    }
    @media screen and (max-width: $details-page-point_content-small) {
      margin-right: 0;
      margin-left: 0;
      padding-left: 2px;
      padding-right: 2px;
    }
  }

  &__info {
    grid-area: info;
    max-width: 280px;
    margin-left: 1px;
  }

  &__info-title {
    margin-bottom: 21px;
  }

  &__chart {
    grid-area: chart;
    margin-left: 32px;
  }

  &__chart-title {
    margin-bottom: 20px;
    margin-left: 2px;
  }

  &__feedbacks {
    grid-area: feedbacks;
    max-width: 720px;
  }

  &__feedbacks-header {
    margin-top: 4px;
    margin-bottom: 15px;

    display: flex;
    justify-content: space-between;
  }

  &__feedbacks-count {
    color: $dark_shade50;
    white-space: nowrap;
    line-height: 2;
  }

  &__feedback {
    list-style: none;
    margin-bottom: 23px;

    &_last {
      margin-bottom: 0;
    }
  }

  &__rules {
    grid-area: rules;
    max-width: 260px;
    @media screen and (max-width: $details-page-point_content-medium) {
      max-width: 100%;
      justify-self: left;
    }
  }

  &__rules-title {
    margin-top: 3px;
    margin-bottom: 18px;
    margin-left: 21px;
  }

  &__cancel-info {
    grid-area: cancel;
    max-width: 340px;
    margin-top: 3px;
    margin-left: 34px;
    @media screen and (max-width: $details-page-point_content-medium) {
      max-width: 100%;
      justify-self: left;
    }
  }

  &__cancel-title {
    margin-bottom: 18px;
  }

  &__card {
    grid-area: card;
    justify-self: end;
    margin-right: 2px;
    @media screen and (max-width: $details-page-point_content-large) {
      justify-self: center;
    }
  }
}
