@import '../../../kit/env-styles/variables';
@import '../../../kit/env-styles/functions';
@import '../../../kit/env-styles/theme';

$details-page-point-images-medium: 850px;
$details-page-point-images-small: 430px;

$details-page-point-content-large: 1070px;
$details-page-point-content-medium: 780px;
$details-page-point-content-small: 460px;

.room-details {
  &__images {
    display: grid;
    // @formatter:off
    grid-template-areas:
      'img-1 img-1 img-2'
      'img-1 img-1 img-3';
    // @formatter:on
    grid-template-columns: repeat(2, 34.06%) auto;
    overflow-y: hidden;

    @media screen and (max-width: $details-page-point-images-medium) {
      // @formatter:off
      grid-template-areas:
        'img-1 img-1'
        'img-2 img-3';
      // @formatter:on
      grid-template-columns: 1fr 1fr;
    }
  }

  &__image-1 {
    width: 100%;
    grid-area: img-1;
  }

  &__image-2 {
    width: 100%;
    grid-area: img-2;
  }

  &__image-3 {
    width: 100%;
    grid-area: img-3;
  }

  &__details {
    display: grid;
    max-width: 1194px;
    padding: 0 15px;
    margin: 69.5px auto 62px;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    // @formatter:off
    grid-template-areas:
      'info chart card'
      'feedbacks feedbacks card'
      'rules cancel card';
    // @formatter:on
    grid-template-columns: 0.7fr 0.93fr 1fr;

    @media screen and (max-width: $details-page-point-content-large) {
      margin-right: 30px;
      margin-left: 30px;
      grid-column-gap: 30px;
      // @formatter:off
      grid-template-areas:
        'info card'
        'chart card'
        'feedbacks feedbacks'
        'rules cancel';
      // @formatter:on
      grid-template-columns: 0.8fr 1fr;
    }

    @media screen and (max-width: $details-page-point-content-medium) {
      grid-template-areas: 'info' 'chart' 'feedbacks' 'rules' 'cancel' 'card';
      grid-template-columns: 1fr;
      justify-items: center;
    }

    @media screen and (max-width: $details-page-point-content-small) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &__info {
    max-width: 280px;
    margin-left: 2px;
    grid-area: info;

    @media screen and (max-width: $details-page-point-content-medium) {
      width: 100%;
      max-width: initial;
    }
  }

  &__info-title {
    @extend h2;
    margin-bottom: 20px;
  }

  &__chart {
    margin-left: 32px;
    grid-area: chart;

    @media screen and (max-width: $details-page-point-content-large) {
      margin-left: 0;
    }

    @media screen and (max-width: $details-page-point-content-medium) {
      width: 100%;
    }
  }

  &__chart-title {
    @extend h2;
    margin-bottom: 19px;
    margin-left: 2px;

    @media screen and (max-width: $details-page-point-content-large) {
      margin-left: 0;
    }
  }

  &__feedbacks {
    max-width: 720px;
    grid-area: feedbacks;
  }

  &__feedbacks-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3px;
    margin-bottom: 15px;
    margin-left: 1px;
  }

  &__feedbacks-title {
    @extend h2;
    margin-bottom: 4px;
  }

  &__feedbacks-count {
    display: flex;
    align-items: center;
    color: $dark-shade50;
    line-height: px-to-rem(14px);
    white-space: nowrap;
  }

  &__feedback {
    margin-bottom: 22px;
    list-style: none;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__rules {
    max-width: 260px;
    margin-left: 1px;
    grid-area: rules;

    @media screen and (max-width: $details-page-point-content-medium) {
      max-width: 100%;
      justify-self: left;
    }
  }

  &__rules-title {
    @extend h2;
    margin-top: 3px;
    margin-bottom: 18px;
    margin-left: 21px;

    @media screen and (max-width: $details-page-point-content-medium) {
      margin-left: 0;
    }
  }

  &__cancel-info {
    max-width: 340px;
    margin-top: 3px;
    margin-left: 34px;
    grid-area: cancel;

    @media screen and (max-width: $details-page-point-content-medium) {
      max-width: 100%;
      margin-left: 0;
      justify-self: left;
    }
  }

  &__cancel-title {
    @extend h2;
    margin-bottom: 17px;
  }

  &__card {
    margin-right: 2px;
    grid-area: card;
    justify-self: end;

    @media screen and (max-width: $details-page-point-content-large) {
      justify-self: center;
    }

    @media screen and (max-width: $details-page-point-content-medium) {
      width: 100%;
      max-width: 380px;
      margin-top: 25px;
      margin-right: 0;
    }
  }
}
