extends ../layout/layout

block main
  include ../../../kit/blocks/iconed-list/iconed-list
  include ../../../kit/blocks/feedbacks-chart/feedbacks-chart
  include ../../../kit/blocks/feedback/feedback
  include ../../../kit/blocks/bullet-list/bullet-list
  include ../../../kit/blocks/calculator-card/calculator-card

  main.details-page
    .details-page__images
      img(src=require("./imgs/room-details-0.jpg").default).details-page__image-1
      img(src=require("./imgs/room-details-1.jpg").default).details-page__image-2
      img(src=require("./imgs/room-details-2.jpg").default).details-page__image-3
    .details-page__details
      .details-page__info
        h2.details-page__title Сведения о номере
        +iconed-list([
          {
            icon: "insert_emoticon",
            title: "Комфорт",
            description: "Шумопоглощающие стены"
          },
          {
            icon: "location_city",
            title: "Удобство",
            description: "Окно в каждой из спален"
          },
          {
            icon: "whatshot",
            title: "Уют",
            description: "Номер оснащён камином"
          },
        ])
      .details-page__chart
        h2.details-page__title Впечатления от номера
        +feedbacks-chart
      .details-page__feedbacks
        -
          const {feedbacks} = require("./json/feedbacks.json")
          const count = require("../../../kit/Utils").default.selectWordByCount(feedbacks.length, ["отзывов", "отзыв", "отзыва", "отзывов"], {
            withNumber: true,
            withZeroNumber: true
          })
        .details-page__feedbacks-header
          h2.details-page__title Отзывы посетителей номера
          .details-page__feedbacks-count=count
        for feedback, index in feedbacks
          +feedback(feedback)
          if index < feedbacks.length - 1
            .details-page__feedbacks-separator
      .details-page__rules
        h2.details-page__title.details-page__title_for-list Правила
        +bullet-list({
          items: [
            "Нельзя с питомцами",
            "Без вечеринок и меропреятий",
            "Время прибытия — после 13:00, а выезд до 12:00"
          ]
        })
      .details-page__cancel-info
        h2.details-page__title Отмена
        | Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
      .details-page__card
        +calculator-card({
          room: {
            number: 888,
            price: "9 990₽",
            isLux: true
          },
          options: {
            startDate: "19.08.2019",
            endDate: "23.08.2019",
            daysCount: 4,
            guests: [2, 1, 0]
          },
          costs: {
            cleanPrice: "39 960₽",
            service: "0₽",
            discount: "2 179₽",
            overService: "300₽",
            summary: "38 081₽"
          }
        })
