include ../expanding-panel/expanding-panel
include ../checkbox-list/checkbox-list

mixin expandable-checkboxes({title, items, isOpened})
  .js-expandable-checkboxes
    +expanding-panel({title, isOpened})
      +checkbox-list({items})
