@import "~air-datepicker/dist/css/datepicker.min.css";

@mixin doubleBackground($circleColor, $bgBorderRadius, $circleOpacity, $circleBorderRadius) {
  background: $gradient25;
  border-radius: $bgBorderRadius;
  border-width: 0;
  &:after {
    content: "";
    display: inline-block;
    z-index: -1;
    background: $circleColor;
    opacity: $circleOpacity;
    border-radius: $circleBorderRadius;
    height: 100%;
    position: absolute;
    width: 100%;
  }
}
// overrides
.datepicker{
  font-family: $quicksand;
  color: $dark_shade50;
  padding: 20px;
}
.datepicker-icons {
  color: $primary;
}

.datepicker--pointer {
  height: 0;
}

.datepicker--buttons, .datepicker--nav{
  border: 0;
}

.datepicker--day-name {
  color: $primary;
  text-transform: capitalize;
  font-weight: bold;
}

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: $dark_shade25;
}

.datepicker--nav-title {
  font-weight: bold;
  font-family: $quicksand;
  font-size: 19px;
  line-height: 24px;

  /* identical to box height */
  color: $dark_shade100;
}

.datepicker--button {
  //font-family: montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-transform: uppercase;
}
.datepicker--button-apply{
  color: $primary;
}
.datepicker--button-cancel{
  color: $dark_shade50;
}

.datepicker--cell{
  border-radius: 50%;
  // todo: use photo for
  //width: 40px;
  //height: 40px;
}

.datepicker--cell.-in-range- {
  background: $gradient25;
}

.datepicker--cell.-current- {
  background: $secondary_gradient;
  color: white;
  border-radius: 50%;
  font-weight: bold;
}

.datepicker--cell.-current-.-in-range- {
  color: white;
  @include doubleBackground($secondary_gradient, 0, 1, 50%);
}

.datepicker--cell.-in-range-.-focus- {
  @include doubleBackground($gradient, 0, 0.3, 50%);
}

.-selected-.datepicker--cell-day.-other-month- {
  background: $gradient25;
}

.datepicker--cell.-range-from- {
  font-weight: bold;
  @include doubleBackground($gradient, 50% 0 0 50%, 1, 50%);
}

.datepicker--cell.-range-to- {
  font-weight: bold;
  @include doubleBackground($gradient, 0 50% 50% 0, 1, 50%);
}

.datepicker--cell.-selected-.-focus- {
  background: $gradient25;
}


