mixin dropdownDate(...title)
  .date-dropdown&attributes(attributes)
    label.date-dropdown__title
      .date-dropdown__header=title[0]
      .date-dropdown__iconed-input
        +input()(placeholder='ДД.ММ.ГГГГ', readonly).date-dropdown__first-date
        i.material-icons.date-dropdown__icon expand_more
    if title.length === 2
      label.date-dropdown__title
        .date-dropdown__header=title[1]
        .date-dropdown__iconed-input
          +input()(placeholder='ДД.ММ.ГГГГ', readonly).date-dropdown__last-date
          i.material-icons.date-dropdown__icon expand_more
