{
//  "plugins": ["fsd"],
//  "rules": {
////    "semi": ["error", "always"],
////    "quotes": ["error", "double"]
//    "fsd/hof-name-prefix": "error",
//    "fsd/no-heavy-constructor": "error",
//    "fsd/jq-cache-dom-elements": "error",
//    "fsd/jq-use-js-prefix-in-selector": "error",
//    "fsd/no-function-declaration-in-event-listener": "error",
//    "fsd/split-conditionals": "error"
//  }
}
