.search-card{width:100%;max-width:380px;padding:40px 30px 30px 30px;box-shadow:0px 0px 25px rgba(0,0,0,0.2);border-radius:4px;background:white}.search-card__date{margin-top:20px}.search-card__guests{margin-top:21px}.search-card__submit-button{margin-top:31px}

