.login{display:flex;min-height:703px;align-items:center;justify-content:center;padding:0 2px;background:url(assets/imgs/login.f3fad73c2e654aaea46c688d5bf92591.jpg) center;background-size:cover}.login__card{width:27.14286rem;margin:10px}.login__card_hidden{display:none}

