@import '../../env-styles/abstract';
@import '../../env-styles/theme';
@import '../../env-styles/variables';

.registration-card {
  @extend %card;

  &__header {
    @extend h1;
    margin-bottom: 20px;
  }

  &__name {
    margin-bottom: 10px;
  }

  &__surname {
    margin-bottom: 8px;
  }

  &__gender {
    margin-bottom: 17px;
  }

  &__birthday {
    margin-bottom: 20px;
  }

  &__title {
    @extend h3;
    margin-bottom: 5px;
  }

  &__service {
    margin-bottom: 10px;
  }

  &__email {
    margin-bottom: 10px;
  }

  &__password {
    margin-bottom: 8px;
  }

  &__ad {
    margin-bottom: 17px;
  }

  &__login-offer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    color: $dark-shade100;
  }

  &__login-text {
    padding-right: 4px;
    margin-top: 5px;
    line-height: px-to-rem(18px);
  }

  &__login-button {
    margin-top: 5px;
  }
}
