doctype html
html(lang="en")
  include ../../../kit/kit
  head
    meta(charset="UTF-8")
    title UIKitColors
  body
    +kitHeader
    main
      section.colors
        -
          let colors = [
            {name: 'Dark Shade 100%', num: '#1F2041'},
            {name: 'Dark Shade 75%', num: '#1F2041'},
            {name: 'Dark Shade 50%', num: '#1F2041'},
            {name: 'Dark Shade 25%', num: '#1F2041'},
            {name: 'Dark Shade 5%', num: '#1F2041'},
            {name: 'Purple', num: '#BC9CFF'},
            {name: 'Green', num: '#6FCF97'},
          ]
        each color, i in colors
          .color-item
            div(class='color' + i).color-box
            .color-description
              span.color-name=color.name
              span.color-num=color.num
      section.headers
        h1.prefix H1
        h1 This one is the sub-section or widget title
        h2.prefix H2
        h2 Next one is the item title inside widgets
        h3.prefix H3
        h3 This is a label or CTA text
        span.prefix Body
        span This is the body text which is used for most of the design, like paragraphs, lists, etc.

