@import "../../../kit/kit";

.colors{
  display: flex;
  flex-direction: column;
}

.color-item{
  vertical-align: middle;
  display: inline-flex;
  //justify-content: center;
  .color-box {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
    border-radius: 6px;
  }
}

.color0{
  background: $dark_shade100;
}
.color1{
  background: $dark_shade75;
}
.color2{
  background: $dark_shade50;
}
.color3{
  background: $dark_shade25;
}
.color4{
  background: $dark_shade5;
}
.color5{
  background: $primary;
}
.color6{
  background: $secondary;
}

.color-name{
  font-family: Quicksand;
  font-weight: bold;
  font-size: 19px;
  line-height: 29px;
  color: $dark_shade100;
}

.color-num{
  font-family: Quicksand;
  //font-weight: bold;
  font-size: 19px;
  line-height: 29px;
  color: $dark_shade100;
}
.color-description{
  display: inline-flex;
  flex-direction: column;
}
