.cards-example{
  background: #F4F4F6;
  &__main{
    column-count: 3;
    display: block;
    -webkit-column-break-inside: avoid;
    column-gap: 40px;
    max-width: calc(380px*3 + 2*40px);

    @media screen and (max-width: 1045px){
      column-count: 2;
    }
    @media screen and (max-width: 695px){
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__item{
    display: inline-block;
    margin: 20px;
    &_type_date{
      .date-dropdown__first-date, .date-dropdown__icon{
        display: none;
      }
      max-width: 320px;
    }
  }
}
