mixin feedbacks-chart
  .feedbacks-chart.js-feedbacks-chart
    .feedbacks-chart__chart
      canvas.feedbacks-chart__donut.js-feedbacks-chart__donut
      .feedbacks-chart__summary.js-feedbacks-chart__summary
        .feedbacks-chart__count
        .feedbacks-chart__voice
    ul.feedbacks-chart__legend
      li.feedbacks-chart__item
        .feedbacks-chart__bullet.feedbacks-chart__bullet_1
        .feedbacks-chart__text Великолепно
      li.feedbacks-chart__item
        .feedbacks-chart__bullet.feedbacks-chart__bullet_2
        .feedbacks-chart__text Хорошо
      li.feedbacks-chart__item
        .feedbacks-chart__bullet.feedbacks-chart__bullet_3
        .feedbacks-chart__text Удовлетворительно
      li.feedbacks-chart__item
        .feedbacks-chart__bullet.feedbacks-chart__bullet_4
        .feedbacks-chart__text Разочарован

