mixin feedbacks-chart
  .feedbacks-chart.js-feedbacks-chart
    .feedbacks-chart__chart
      canvas.feedbacks-chart__donut.js-feedbacks-chart__donut
      .feedbacks-chart__summary.js-feedbacks-chart__summary
        .feedbacks-chart__count
        .feedbacks-chart__voice
    ul.feedbacks-chart__legend
      for item, index in ["Великолепно", "Хорошо", "Удовлетворительно", "Разочарован"]
        li.feedbacks-chart__item
          .feedbacks-chart__bullet(class="feedbacks-chart__bullet_" + index)
          .feedbacks-chart__text=item
