mixin input({isDateMasked, title, subtitle})
  .input
    +title({title, subtitle})
    if isDateMasked
      input(placeholder='ДД.ММ.ГГГГ' pattern='(\\d{2}\\.){2}\\d{4}$').input__field&attributes(attributes)
    else
      input.input__field&attributes(attributes)



