mixin input(isDateMasked=false)
  .input
    if isDateMasked
      input(
        placeholder="ДД.ММ.ГГГГ"
        pattern="(\\d{2}\\.){2}\\d{4}$"
      ).input__field&attributes(attributes)
    else
      input.input__field&attributes(attributes)



