@import '../../env-styles/abstract';
@import '../../env-styles/variables';

.input {
  @extend %field-bordered;

  overflow: hidden;
  padding-right: 20px;
  padding-left: 13px;
  color: $dark-shade75;
  font-size: px-to-rem(14px);
  line-height: px-to-rem(24px);
  text-overflow: ellipsis;

  &:hover {
    border-color: $dark-shade50;
  }

  &:focus {
    border-color: $dark-shade50;
  }

  &:invalid {
    box-shadow: 0 0 5px $primary;
  }

  &::placeholder {
    color: $dark-shade25;
  }
}
