mixin input(isDateMasked=false)
  if isDateMasked
    input(
      placeholder="ДД.ММ.ГГГГ"
      pattern="(\\d{2}\\.){2}\\d{4}$"
    ).input.js-input_masked&attributes(attributes)
  else
    input.input&attributes(attributes)



