@import "../../env-styles/variables";
@import "../../env-styles/abstract";

.input__field {
  @extend %field_bordered;
  color: $dark_shade75;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  //padding: 1%;
  &:hover {
    border-color: $dark_shade50;
  }

  &:focus {
    border-color: $dark_shade50;
  }
}
