extends ../layout/layout

block main
  include ../../../kit/blocks/registration-card/registration-card
  include ../../../kit/blocks/registration-card/registration-card

  article.registration
    .registration__card.js-registration__card
      +registration-card
