@import '~material-icons/iconfont/material-icons';
@import '../../env-styles/functions';
@import '../../env-styles/variables';

.like-button {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;

  &__box {
    width: 100%;
    height: 100%;
    padding: 1px;
    border-radius: 10px;
    background: $gradient;
  }

  &__inner-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    border-radius: inherit;
    background: white;
  }

  &__icon {
    @extend .material-icons;

    font-size: pxToRem(10px);
    width: 50%;
    text-align: center;

    &_active {
      color: transparent;
      background: $gradient;
      -webkit-background-clip: text;
    }
  }

  &__count {
    width: 50%;
    font-size: pxToRem(10px);
  }

  &__checker {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  &__checker + &__box {
    background: $dark_shade25;
    color: $dark_shade25;

    .like-button__icon {
      &_active {
        display: none;
      }

      &_passive {
        display: initial;
      }
    }
  }

  &__checker:checked + &__box {
    background: $gradient;
    color: $primary;

    .like-button__icon {
      &_active {
        display: initial;
      }

      &_passive {
        display: none;
      }
    }
  }
}


