mixin like-button(numOfLikes)
  .like-button.js-like-button
    input(type="checkbox").like-button__checker&attributes(attributes)
    .like-button__box
      .like-button__inner-box
        i.like-button__icon.like-button__icon_active favorite
        i.like-button__icon.like-button__icon_passive favorite_border
        .like-button__count.js-like-button__count= numOfLikes


