mixin like-button(numOfLikes)
  .like-button.js-like-button
    input(type='checkbox').like-button__checker&attributes(attributes)
    .like-button__box
      i.material-icons.like-button__active favorite
      i.material-icons.like-button__passive favorite_border
      .like-button__count.js-like-button__count= numOfLikes


