@import '../../env-styles/abstract';
@import '../../env-styles/functions';
@import '../../env-styles/variables';

.like-button {
  position: relative;
  display: inline-block;
  min-width: 40px;
  height: 20px;

  &__box {
    width: 100%;
    height: 100%;
    padding: 1px;
    background: $gradient;
    border-radius: 10px;
  }

  &__inner-box {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    background: white;
    border-radius: inherit;
  }

  &__icon {
    @extend %material-icons;

    width: px-to-rem(20px);
    font-size: px-to-rem(10px);
    text-align: center;

    &_active {
      background: $gradient;
      -webkit-background-clip: text;
      color: transparent;
    }
  }

  &__count {
    font-size: px-to-rem(10px);
    line-height: px-to-rem(12px);
    padding-right: 4px;
    text-align: center;
  }

  &__checker {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
  }

  &__checker + &__box {
    background: $dark-shade25;
    color: $dark-shade25;
  }

  &__checker + &__box &__icon {
    &_active {
      display: none;
    }

    &_passive {
      display: initial;
    }
  }

  &__checker:checked + &__box {
    background: $gradient;
    color: $primary;
  }

  &__checker:checked + &__box &__icon {
    &_active {
      display: initial;
    }

    &_passive {
      display: none;
    }
  }
}
