mixin like-button(numOfLikes)
  .like-button.js-like-button
    input(type="checkbox").like-button__checker&attributes(attributes)
    .like-button__box
      .like-button__inner-box
        .like-button__icon.like-button__icon_filled
          include ./svg/like-filled.svg
        .like-button__icon.like-button__icon_bordered
          include ./svg/like.svg
        .like-button__count.js-like-button__count= numOfLikes
