@import '../../env-styles/functions';
@import '../../env-styles/variables';

.a {
  font-size: px-to-rem(12px);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  &:link,
  &:visited {
    color: $primary;
  }

  &:hover {
    color: $dark-shade50;
  }
}
