doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="keywords" content="fsd kit ui")
    meta(name="description" content="Info and info")
    link(rel="icon" type="image/svg" href=require("../layout/images/kit-favicon.svg").default)
    link(rel="mask-icon" href=require("../layout/images/safari-pinned-tab.svg").default color="#c28ad1")
    title Toxin
  block body
