mixin rating(numOfStars)
  span.rating
    - var i=0
    while i < numOfStars
      i.material-icons.rate-btn star
      - i++;
    while i < 5
      i.material-icons.rate-btn star_border
      - i++;
