.button{
  border: 0;
  border-radius: 22px;
  font-weight: bold;
  background-color: white;
  text-transform: uppercase;
  padding: 15px 20px;
}

.button_flat{
  color: $primary;
  border: 3px solid $primary;
}
.button_raised{
  background: $gradient;
  color: white;
}

.button_secondary{
  background: $secondary_gradient;
  //background: $secondary;
}

.button_text{
  color: $primary;
  background: white;
}

.button_raised:disabled{
  opacity: 0.5;
}
.button_flat:disabled{
  opacity: 0.5;
}
.button_text:disabled{
  color: $dark_shade50;
}

.button_raised:hover:enabled{
  -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

.button_flat:hover:enabled {
  -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

.button_text:hover:enabled{
  text-shadow: 2px 2px 2px rgba(34, 60, 80, 0.2);
}

.button_arrowed{
  position: relative;
  width: 100%;
  //display: flex;
  //align-items: center;
  //justify-content: space-between;
}

.button__arrow{
  position: absolute;
  right: 15px;
  line-height: 20px;
}

.button__text{
  padding-right: 25px;
}
