doctype html
html(lang="en")
  include ../../../kit/kit
  head
    meta(charset="UTF-8")
    title Headers and footers
  body.header-footers-example
    +kit-header
    +header({language: language.en}).header-footers-example__item
    +header({language: language.en, username: 'Cosmin Negoita'}).header-footers-example__item
    +footer({language: language.en}).header-footers-example__item
