doctype html
html(lang="en")
  include ../../../kit/kit
  head
    meta(charset="UTF-8")
    title Headers and footers
  body
    +header({language: language.en})
    +header({language: language.en, username: 'Cosmin Negoita'})
