@import "../../env_styles/colors";

.title{
  line-height: 0;
}
.field{
  width: 320px;
  height: 44px;

  box-sizing: border-box;
  border-radius: 4px;
  line-height: 18px;
  padding-left: 15px; // 141 156 w320
  font: $dark_shade25;
  border: 1px solid $dark_shade25;
  background: #FFFFFF;
}
input:hover{
  border-color: $dark_shade50;
}
input:focus{
  border-color: $dark_shade50;
}
