// [{text, attributes:{}, description?}], string, bool
mixin checkboxList(map, expandTitle, isOpened)
  .checkbox-list&attributes(attributes)
    if expandTitle
      button.checkbox-list__expander
        .checkbox-list__title=expandTitle
        i.material-icons.checkbox-list__icon.checkbox-list__icon_more expand_more
        i.material-icons.checkbox-list__icon.checkbox-list__icon_less expand_less
    div(hidden=expandTitle && !isOpened).checkbox-list__group
      each el in map
        +checkableItem(checkableType.checkbox, el.text, el.description).checkbox-list__item&attributes(el.attributes)
