mixin button(text, {isFlat, isSecondary, isArrowed})
  - const classes = [isSecondary? 'button_color_secondary': '', isFlat?'button_flat': 'button_raised'];
  if isArrowed
    button.button.button_arrowed(class=classes)&attributes(attributes)
      span.button__text=text
      i.material-icons.button__arrow arrow_forward
  else
    button.button(class=classes)&attributes(attributes)=text
