@import '../../env-styles/abstract';
@import '../../env-styles/functions';
@import '../../env-styles/variables';
@import '../../env-styles/icons';

.button {
  border: none;
  background: $gradient;
  border-radius: 22px;
  font-size: px-to-rem(12px);
  font-weight: bold;
  line-height: px-to-rem(15px);
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background: $gradient50;
    cursor: pointer;
  }

  &_size_wide {
    width: 100%;
  }

  &_size_const-min {
    min-width: 99px;
  }

  &_flat {
    display: inline-block;
    padding: 2px;
    color: $primary;
    &:link, &:visited{
      color: $primary;
    }
  }

  &_raised {
    padding: 15px 20px;
    color: white;
    &:link, &:visited{
      color: white;
    }
  }

  &_size_mini {
    padding-top: 9.5px;
    padding-bottom: 9.5px;
  }

  &__text {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 12.5px 16.5px;
    background: white;
    border-radius: inherit;
  }

  &_content-size_mini &__text{
    padding: 7.5px 18.5px;
  }

  &_arrowed {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }

  &__arrow {
    @include arrow(white, false);
    flex-grow: 0;
    flex-shrink: 0;
    margin: 2px;
  }

  &__arrowed-text {
    flex-grow: 2;
    margin-left: px-to-rem(22px);
  }

  &_color_secondary {
    background: $secondary-gradient;
  }
}
