@import "../../env-styles/variables";

.button {
  padding: 15px 20px;

  font-weight: bold;
  text-transform: uppercase;

  border: none;
  border-radius: 22px;
  background-color: white;

  &:disabled {
    opacity: 0.5;
  }

  &:hover:enabled {
    cursor: pointer;
  }

  &_flat {
    color: $primary;
    box-shadow: 0 0 0 3px $primary inset; // inner border
  }

  &_raised {
    background: $gradient;
    color: white;
  }

  &_color_secondary {
    background: $secondary_gradient;
  }

  &_arrowed {
    position: relative;
    width: 100%;
  }

  &__arrow {
    position: absolute;
    right: 15px;
    line-height: 20px;
  }

  &__text {
    padding-right: 25px;
  }
}




