- let button_type = {raised: 'button_raised', flat:'button_flat', text: 'button_text'}

mixin button(type, text, isSecondary, isArrowed)
  // button_type, string, boolean, boolean
  if isArrowed
    button.button.button_arrowed(class=isSecondary? [type, 'button_color_secondary']:type)&attributes(attributes)
      span.button__text=text
      i.material-icons.button__arrow arrow_forward
  else
    button.button(class=isSecondary? [type, 'button_color_secondary']:type)&attributes(attributes)=text
