include ../carousel/carousel
include ../room-title/room-title
include ../rating/rating

// imgs: [{src, alt}]
mixin room-card({imgs, number, isLux, price, rating=0, reviewCount=0})
  .room-card.js-room-card
    +carousel(imgs)
    .room-card__description
      +room-title({number, isLux, price, isMiniStyle: true})
      .room-card__impression
        +rating({rating})
        .room-card__rewiew
          span.room-card__count=reviewCount + " "
          | Отзывов


