@import '~lightslider/src/css/lightslider.css';
@import '../../env-styles/functions';
@import '../../env-styles/variables';

.room-card {
  width: 100%;
  border-radius: 4px;
  box-shadow: $shadow_smaller;
  background: white;

  &__description {
    padding: 13px 20px 13px 21px;
  }

  &__impression {
    display: flex;
    justify-content: space-between;

    border-top: 1px solid $dark_shade10;
    padding-top: pxToRem(7.5px);
    margin-top: pxToRem(7px);
  }

  &__rewiew {
    color: $dark_shade50;
  }

  &__count {
    font-weight: bold;
  }
}
