@import '~lightslider/src/css/lightslider.css';
@import '../../env-styles/functions';
@import '../../env-styles/variables';

.room-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  background: white;
  border-radius: 4px;
  box-shadow: $shadow-smaller;

  &__description {
    width: 100%;
    padding: 13px 18px 14px 20px;
    margin: auto;
  }

  &__impression {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: px-to-rem(11px);
    border-top: 1px solid $dark-shade10;
    margin-top: px-to-rem(8px);
  }

  &__rewiew {
    padding-top: 2px;
    margin-right: 2px;
    color: $dark-shade50;
    line-height: px-to-rem(18px);
  }

  &__count {
    font-weight: bold;
  }
}
