@import "../../env-styles/abstract";
@import "../../env-styles/functions";
@import "../../env-styles/variables";

@mixin commonLink {
  &_vertical {
    padding: 6px 10px;
  }

  &_horizontal {
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin-left: 10px;
  }
}

.main-links {
  &__list {
    list-style: none;

    &_horizontal {
      display: flex;
      align-items: stretch;
      height: 100%;
    }
  }

  &__link {
    @include commonLink;

    &_horizontal {
      margin-right: 10px;
    }
  }

  &__menu-link {
    @include commonLink;

    &_horizontal {
      margin-right: 12px;
    }
  }
}
