@import '~material-icons/iconfont/material-icons';
@import '../../env-styles/functions';
@import '../../env-styles/variables';

.paginator {
  display: inline-block;

  &__item {
    display: inline-block;
    width: pxToRem(40px);
    height: pxToRem(40px);

    line-height: pxToRem(40px);
    font-size: pxToRem(12px);
    text-align: center;

    text-decoration: none;
    border-radius: 50%;
    color: $dark_shade50;

    &:link {
      color: $dark_shade50;
    }

    &-with-arrow {
      background: $secondary_gradient;
    }
  }

  &__arrow {
    @extend .material-icons;
    vertical-align: middle;
    color: white;
  }

  &__current {
    background: $gradient;
    color: white;
    font-weight: bold;
  }

  &__text {
    margin-top: 8px;
    text-align: center;
  }
}
