@import "../../env-styles/common";

.paginator {
  display: inline-block;

  &__item {
    display: inline-block;
    width: pxToRem(40px);
    height: pxToRem(40px);

    line-height: pxToRem(40px);
    vertical-align: middle;
    text-align: center;

    text-decoration: none;
    border-radius: 50%;
    color: $dark_shade50;

    &:link {
      color: $dark_shade50;
    }

    &-with-arrow {
      background: $secondary_gradient;
    }
  }

  &__arrow {
    vertical-align: middle;
    color: white;
    font-weight: bold;
  }

  &__current {
    background: $gradient;
    color: white;
    font-weight: bold;
  }

  &__text {
    margin-top: 10px;
    text-align: center;
  }
}
