@import '../../env-styles/abstract';
@import '../../env-styles/functions';
@import '../../env-styles/variables';
@import '../../env-styles/icons';

.paginator {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  &__pages{
    display: flex;
  }

  &__item {
    display: inline-block;
    width: px-to-rem(40px);
    height: px-to-rem(40px);
    border-radius: 50%;
    color: $dark-shade50;
    font-size: px-to-rem(12px);
    line-height: px-to-rem(40px);
    text-align: center;
    text-decoration: none;

    &:link {
      color: $dark-shade50;
    }

    &_with-arrow {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: $secondary-gradient;
    }
  }

  &__arrow {
    @include arrow(white, false);
    &_backward{
      transform: rotate(180deg);
    }
  }

  &__current {
    background: $gradient;
    color: white;
    font-weight: bold;
  }

  &__text {
    margin-top: 8px;
    text-align: center;
  }
}
