@import '../../env-styles/abstract';
@import '../../env-styles/theme';

.checkbox-list {
  &__item {
    display: flex;
    margin-bottom: 10.5px;

    &_type_rich {
      margin-bottom: 8px;
    }
  }
}
