include ../checkable-item/checkable-item

// items: {text, attributes:{}, description?}]
mixin checkbox-list({items})
  .checkbox-list
      each el in items
        .checkbox-list__item
          +checkable-item({
            type: "checkbox",
            text: el.text,
            description: el.description
          })&attributes(el.attributes)
