@import "../../env-styles/variables";
@import "../../env-styles/functions";

.header-links {
  display: flex;
  justify-content: flex-end;

  &_vertical {
    margin: 30px 20px;
    flex-direction: column;
  }

  &__link {
    flex-shrink: 0;
    margin-right: 15px;
    margin-left: 5px;
    line-height: pxToRem(35px);

    padding: pxToRem(2px);
    display: flex;
    align-items: center;

    text-decoration: none;

    &_type_home {
      font-weight: bold;
      color: $dark_shade75;

      &:link, &:visited {
        color: $dark_shade75;
      }
    }
    &_with-menu{
      margin-right: 10px;
    }
  }

  &__buttons {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    vertical-align: center;
    &_vertical{
      margin: 20px 0;
    }
  }

  &__login-button{
    margin: auto 0 auto 7px;
    &_vertical{
      margin: 2px;
      width: 100%;
    }
  }

  &__register-button{
    margin: auto 0 auto 20px;
    &_vertical{
      margin: 2px;
      width: 100%;
    }
  }

  &__line {
    margin: auto 0 auto 10px;
    height: pxToRem(30px);
    width: 1px;
    background: $dark_shade10;
    &_vertical{
      display: none;
    }
  }

  &__username {
    align-self: center;
    margin-right: 0;
    padding-left: 30px;

    &_vertical {
      width: 100%;
      margin: 20px 18px;
      padding: 20px 0;
      border-top: 1px solid $dark_shade10;
    }
  }
}
