.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
  border: 2px solid white;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: $secondary_gradient;
  color: #454545;
  top: -5px;
}

.ui-slider-horizontal .ui-slider-range{
  background: $secondary_gradient;
  border: none;
  //align-self: center;
}

.ui-widget.ui-widget-content{
  border-radius: 4px;
  border-color: $dark_shade25;
  height: 6px;
}
