@import '../../env-styles/functions';
@import '../../env-styles/variables';

.ui-slider {
  position: relative;

  &-handle {
    position: absolute;
    z-index: 2;
    top: px-to-rem(-6px);
    width: px-to-rem(16px);
    height: px-to-rem(16px);
    border: 2px solid white {
      radius: 50%;
    }
    margin-left: -0.6em;
    background: $secondary-gradient;
    color: #454545;
    cursor: grab;
    touch-action: none;
  }

  &-range {
    position: absolute;
    z-index: 1;
    top: 0;
    display: block;
    height: 100%;
    border: none;
    background: $secondary-gradient;
  }
}
