@import '../../env-styles/theme';
@import 'slider-overrides';

.slider {
  &__picker {
    height: 6px;
    border: 1px solid $dark_shade25 {
      radius: 4px;
    }
  }

  &__header {
    font-weight: bold;
    text-transform: uppercase;
    color: $dark_shade100;
    font-size: pxToRem(12px);
    line-height: pxToRem(15px);
    margin-bottom: 23px;
    padding-right: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__amount {
    width: 1px;
    flex-grow: 1;
    font-size: pxToRem(12px);
    margin-bottom: 1px;
    display: flex;
    text-align: end;
    color: $dark_shade50;
    border: none;
  }
}
