@import '../../env-styles/theme';
@import 'slider-overrides';

.slider {
  &__picker {
    height: 6px;
    border: 1px solid $dark-shade25 {
      radius: 4px;
    }
    cursor: pointer;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-right: 1px;
    margin-bottom: 22px;
    color: $dark-shade100;
    font-size: px-to-rem(12px);
    font-weight: bold;
    line-height: px-to-rem(15px);
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: 1px;
  }

  &__amount {
    margin-bottom: 2px;
    color: $dark-shade50;
    font-size: px-to-rem(12px);
    font-weight: initial;
  }
}
