@import "../../env-styles/common";

.ui-slider {
  position: relative;

  &-handle {
    position: absolute;
    top: pxToRem(-5px);
    margin-left: -.6em;
    z-index: 2;

    width: pxToRem(14px);
    height: pxToRem(14px);

    touch-action: none;
    cursor: grab;
    border: 2px solid white {
      radius: 50%;
    }
    background: $secondary_gradient;
    color: #454545;
  }

  &-range {
    position: absolute;
    top: 0;
    z-index: 1;

    display: block;
    height: 100%;

    background: $secondary_gradient;
    border: none;
  }
}
