@import '../../env-styles/abstract';
@import '../../env-styles/functions';
@import '../../env-styles/variables';
@import '../../env-styles/icons';

.expanding-panel {
  &__header {
    @extend %field;

    @include expanding-icon($dark-shade50);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 18px;
    margin-bottom: 3px;
    cursor: pointer;

    &::after {
      margin-bottom: 3px;
    }
  }

  &_opened &__header {
    &::after {
      margin-top: 5px;
      margin-bottom: 0;
      transform: rotate(-135deg);
    }
  }

  &__content {
    display: none;
  }

  &_opened &__content {
    display: unset;
  }

  &__title {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    color: $dark-shade100;
    font-size: px-to-rem(12px);
    font-weight: bold;
    text-transform: uppercase;
  }
}
