@import "../../../env_styles/colors";

.menu-option {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 15px;
  height: 44px;
  align-items: center;
}

.menu-button {
  width: 30px;
  height: 30px;

  border: 1px solid $dark_shade25;
  box-sizing: border-box;
  padding: 0;
  color: $dark_shade50;
}

.counter {
  width: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options-text{
  color: $dark_shade100;
}
.content-text{
  font-weight: bold;
  text-transform: uppercase;
}

.clear{
  color: $dark_shade50;
}

.actions{
  display: flex;
  justify-content: space-between;
}

.dropdown {
  display: inline-block;
}

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  height: auto;
  z-index: 10;
  position: absolute;
  padding-left: 0;
}

.option {
  height: 44px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  &:hover {
    background-color: #f1f1f1;
  }
}

.expander {
  width: 44px;
  text-align: center;
}
