mixin expander({title, isOpened})
  .expander.js-expander
    button(type="button").expander__header.js-expander__header&attributes(attributes)
      .expander__title=title
      i(
        class=isOpened ? "expander__icon_hidden" : ""
      ).expander__icon.js-expander__icon expand_more
      i(
        class=!isOpened ? "expander__icon_hidden" : ""
      ).expander__icon.js-expander__icon expand_less
    div(
      class = !isOpened ? "expander__content_hidden" : ""
    ).expander__content.js-expander__content
      block
