mixin expander(text)
  .expander.js-expander
    button(type="button").expander__button.js-expander__button&attributes(attributes)
      .expander__text=text
      i.material-icons.expander__icon.expander__icon_hidden.js-expander__icon expand_more
      i.material-icons.expander__icon.js-expander__icon expand_less
