@import '../../env-styles/abstract';
@import '../../env-styles/functions';
@import '../../env-styles/variables';

.header {
  background: white;
  box-shadow: $shadow_smaller;

  &__content {
    max-width: pxToRem(1180px);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px 10px 15.4px;
    white-space: nowrap;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__items {
    display: flex;
    padding-left: 50px;

    &_hidden {
      display: none;
    }
  }

  &__profile-links {
    display: flex;
    align-items: center;
  }

  &__menu-button {
    padding: 5px;
    border: none;
    background: none;
    color: $dark_shade50;
    cursor: pointer;

    &_hidden {
      display: none;
    }
  }

  &__icon {
    @extend %material-icons;
  }
}



