@import '~material-icons/iconfont/material-icons';
@import '../../env-styles/functions';
@import '../../env-styles/variables';

$header-point: pxToRem(850px);

.header {
  height: pxToRem(70px);
  display: flex;
  background: white;
  box-shadow: $shadow_smaller;

  &__nav {
    height: 100%;
    width: 100%;
    padding: 0 5px;
    max-width: pxToRem(1170px);
    margin: 0 auto;
    @media screen and (max-width: $header-point) {
      margin: 0;
    }
  }

  &__links {
    list-style: none;
    display: flex;
    align-items: stretch;
    height: 100%;
  }

  &__logo {
    flex-grow: 2;
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    @media screen and (max-width: $header-point) {
      display: none;
    }

    &_with-menu {
      margin-right: 15px;
    }
  }

  &__menu-button {
    display: none;
    padding: 5px;
    border: none;
    background: none;
    color: $dark_shade50;
    cursor: pointer;
    @media screen and (max-width: $header-point) {
      display: initial;
    }
  }

  &__icon {
    @extend .material-icons;
  }

  &__link {
    margin-right: 15px;
    margin-left: 5px;
    padding: pxToRem(2px);
  }

  &__login-button {
    margin-left: 7px;
  }

  &__register-button {
    margin-left: 20px;
  }

  &__username {
    padding-left: 30px;
    border-left: 1px solid $dark_shade10;
  }
}



