include ../logo/logo
include ../header-links/header-links

mixin header({home, links, login, register, username})
  header.header.js-header
    .header__content.js-header__content
      +logo
      .header__main-links
        +header-links({home, links, login, register, username})
      button.js-header__menu-button.header__menu-button
        i.header__icon menu
    .header__sidebar.js-header__sidebar
      button.header__closing-button.js-header__closing-button
        i.header__icon close
      .header__sidebar-logo
        +logo
      +header-links({home, links, login, register, username, isVertical: true})
    .header__dim.js-header__dim



