include ../logo/logo
include ../link-with-menu/link-with-menu
include ../button/button
include ../main-links/main-links
include ../profile-links/profile-links

mixin header({links, login, register, profile})
  header.header.js-header
    .header__content.js-header__content
      .header__logo
        +logo
      .header__items.js-header__items
        +main-links({links, isVertical: false})
        +profile-links({login, register, profile, isVertical: false})
      button.js-header__menu-button.header__menu-button
        i.header__icon menu



