@import "../../env-styles/functions";
@import "../../env-styles/variables";

.header {
  background: white;
  height: pxToRem(70px);
  display: flex;
  vertical-align: center;
  justify-content: center;

  &__content {
    padding: 5px;
    width: 100%;
    max-width: pxToRem(1160px);

    display: flex;
    vertical-align: baseline;
  }

  &__button {
    padding: 10px 20px;
    margin: auto 0 auto 20px;
    //text-align: center;
  }

  &__separator {
    flex-grow: 1;
  }

  &__link {
    padding: pxToRem(2px);
    margin-right: 28px;
    display: flex;
    align-items: center;
    text-decoration: none;

    &:link, &:visited {
      color: $dark_shade50;
    }

    &_type_home {
      font-weight: bold;
      color: $dark_shade75;

      &:link, &:visited {
        color: $dark_shade75;
      }
    }
  }

  &__line {
    width: 1px;
    height: pxToRem(30px);
    margin: auto;
    background: $dark_shade10;
  }

  &__username {
    margin-left: 28px;
    display: flex;
    vertical-align: baseline;
  }

  &__menu-button {
    border: none;
    padding: 5px;
    background: none;
    color: $dark_shade50;
  }

  &__collapsed {
    display: none;
  }

  &__closing-button {
    display: none;
  }


  @media screen and (max-width: pxToRem(800px)) {
    &__content {
      padding: 0;
      position: fixed;
      flex-direction: column;
      top: 0;
      right: 0;
      height: 100%;
      width: 0;
      max-width: 350px;
      box-shadow: $shadow_smaller;
      z-index: 2;
      transition-property: width;
      transition: 0.5s;
      background: white;

      &_opened {
        width: 100%;
        padding: 20px;
        transition-property: width;
        transition: 0.5s;
      }
    }

    &__content-img {
      //width: min-content;
      width: 130px;
      margin-bottom: 15px;
      //display: none;
    }

    &__link {
      margin: 5px 0;
      font-size: pxToRem(16px);
    }
    &__dim {
      display: none;
      background: $dark_shade25;
      opacity: 0.5;
      z-index: 1;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    &__separator {
      flex-grow: 0;
    }
    &__collapsed {
      width: 100%;
      padding: 5px;
      transition-property: right;
      display: flex;
      justify-content: space-between;
      color: $dark_shade50;
    }
    &__closing-button {
      display: initial;
      background: none;
      border: none;
      text-align: end;
      color: $dark_shade50;
    }
    &__button {
      margin: 10px 0 0 0;
      &_login{
        margin-top: 20px;
      }
    }
    &__line {
      margin: 10px 0;
      height: 1px;
      width: 100%;
    }
  }
}


