include ../logo/logo
include ../link-with-menu/link-with-menu
include ../button/button

mixin header({links, login, register, username})
  header.header.js-header
    nav.header__nav
      ul.header__links

        li.header__logo
          +logo

        for link in links
          if link.content
            li.header__item.header__item_with-menu
              - link.isInline = false
              +link-with-menu(link)
          else
            li.header__item
              a(href=link.url).header__link=link.name

        if username
          li.header__item
            a(href="mock-address").header__username=username
        else
          li.header__item
            a(href=login.url).header__login-button
              +button(login.name, {isFlat: true, isMini: true, isWide: false})
          li.header__item
            a(href=register.url).header__register-button
              +button(register.name, {isMini: true, isWide: false})

    button.js-header__menu-button.header__menu-button
      i.header__icon menu



