include blocks/dropdown-menu/dropdown-menu
include blocks/checkbox-list/checkbox-list
include blocks/like-button/like-button
include blocks/toggle/toggle
include blocks/radio-list/radio-list
include blocks/bullet-list/bullet-list
include blocks/iconed-list/iconed-list
include blocks/paginator/paginator
include blocks/rating/rating
include blocks/feedback/feedback
include blocks/kit-header/kit-header
include blocks/dropdown-date/dropdown-date
include blocks/slider/slider
include blocks/button/button
include blocks/input/input
include blocks/checkable-item/checkable-item
include blocks/a/a
include blocks/subscribe-input/subscribe-input
include blocks/carousel/carousel
include blocks/room-title/room-title
include blocks/guests-dropdown/guests-dropdown
include blocks/title/title
include blocks/furniture-dropdown/furniture-dropdown
include blocks/header/header
include blocks/social-networks/social-networks
include blocks/footer/footer
include blocks/simple-footer/simple-footer
include blocks/expander/expander
include blocks/feedbacks-chart/feedbacks-chart
include blocks/logo/logo
include blocks/link-with-menu/link-with-menu
include blocks/header-links/header-links

include blocks/room-card/room-card
include blocks/login-card/login-card
include blocks/registration-card/registration-card
include blocks/calculator-card/calculator-card
include blocks/search-card/search-card
