mixin dropdownMenu(title, infoGenerator, map, withSubmit, withClear)
  h3.title=title
  div
    div(onclick='(e => {\
          let options =e.nextElementSibling;\
          options.hidden = !options.hidden;\
          })(this);').field.select
      text #{infoGenerator()}
      i.material-icons expand_more
    .field.options(hidden='')
      for val, key in map
        div.menu-option.space-between.padding
          text.options-text.content-text=key
          div.counter
            button.menu-button(onclick="((e, map, key)=>{map.key--; if(map.key==0) console.log('ggg');})(this, map, key);") -
            text.options-text.content-text=val
            button.menu-button(onclick="((map, key)=>{map[key]++;})(map,key);") +
      div.actions
        if withClear
          button.clear.text-button.content-text Очистить
        if withSubmit
          button.text-button.content-text Применить

