@import '../../env-styles/functions';
@import '../../env-styles/variables';

.social-networks {
  display: flex;

  &__link {
    display: inline-flex;
    // todo: font ver with old facebook and set margin
    margin: auto 11.5px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &_margin_small {
      margin-left: 8px;
    }
  }

  &__icon {
    display: flex;
    font-family: $brands;
    color: transparent;
    font-style: normal;
    font-weight: normal;
    background: $gradient;
    -webkit-background-clip: text;

    &_type_twitter:before {
      content: '\f099';
      font-size: pxToRem(29px);
    }

    &_type_facebook:before {
      content: '\f230';
      font-size: pxToRem(25px);
    }

    &_type_instagramm:before {
      content: '\f16d';
      font-size: pxToRem(25px);
    }
  }
}
