mixin social-networks
  .social-networks
    a(href="https://twitter.com" target="_blank" rel="noopener noreferrer").social-networks__link.social-networks__link_margin-top_big
      include ./svg/twitter.svg
    a(href="https://www.facebook.com" target="_blank" rel="noopener noreferrer").social-networks__link
      include ./svg/facebook.svg
    a(href="https://www.instagram.com" target="_blank" rel="noopener noreferrer").social-networks__link
      include ./svg/instagram.svg
