@import '../../env-styles/functions';
@import '../../env-styles/variables';

.social-networks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 2px 11px;
  }
}
