mixin social-networks
  .social-networks
    a(href="https://twitter.com" target="_blank" rel="noopener noreferrer")
      i.fa-twitter.social-networks__icon
    a(href="https://www.facebook.com" target="_blank" rel="noopener noreferrer")
      i.fa-facebook-square.social-networks__icon
    a(href="https://www.instagram.com" target="_blank" rel="noopener noreferrer")
      i.fa-instagram.social-networks__icon
