mixin social-networks
  .social-networks
    a(href="https://twitter.com" target="_blank" rel="noopener noreferrer").social-networks__link
      i.social-networks__icon.social-networks__icon_type_twitter
    a(href="https://www.facebook.com" target="_blank" rel="noopener noreferrer").social-networks__link.social-networks__link_margin_small
      i.social-networks__icon.social-networks__icon_type_facebook
    a(href="https://www.instagram.com" target="_blank" rel="noopener noreferrer").social-networks__link
      i.social-networks__icon.social-networks__icon_type_instagramm
