@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "../../env-styles/variables";
@import "../../env-styles/functions";

.social-networks {
  width: calc(24px * 3 + 20px * 2);
  display: flex;
  justify-content: space-between;
  line-height: 0;

  &__icon {
    @extend .fab;
    font-size: pxToRem(24px);
    color: transparent;
    background: $gradient;
    -webkit-background-clip: text;
  }
}
