mixin dropdownMenu(overHtml)
  .dropdown-menu&attributes(attributes)
    button.field_bordered.dropdown-menu__header
      span.dropdown-menu__text
      i.material-icons.dropdown-menu__icon expand_more
    div(class=overHtml?'dropdown-menu__content_over':'').dropdown-menu__content
      .dropdown-menu__buttons
        button(hidden).dropdown-menu__confirm Применить
        button(hidden).dropdown-menu__cancel Очистить



