.header-and-footers {
  background: #f4f4f6;
  min-height: 1350px;

  &__anonim-header {
    margin-top: 32px;
  }

  &__logged-header {
    margin-top: 40px;
  }

  &__footer {
    margin-top: 39px;
  }
}
