extends ../layout/layout

block body
  include ../../../kit/blocks/kit-header/kit-header
  include ../../../kit/blocks/footer/footer
  include ../../../kit/blocks/header/header

  body.header-and-footers
    - const {links, login, register} = require(`./json/header.json`)
    - const {tagline, menu, subscribe, copyright} = require(`./json/footer.json`)
    +kit-header
    .header-and-footers__anonim-header.js-header-and-footers__anonim-header
      +header({
        links,
        login,
        register,
        id: "header-1"
      })
    .header-and-footers__logged-header.js-header-and-footers__logged-header
      +header({
        links,
        profile: {
          url: '/mock-address',
          username: "Юлий Цезарь",
        },
        id: "header-2"
      })
    .header-and-footers__footer
      +footer({tagline, menu, subscribe, copyright})

