.header-and-footers {
  margin-bottom: 200px;
  background: #f4f4f6;

  &__anonim-header {
    margin-top: 32px;
  }

  &__logged-header {
    margin-top: 40px;
  }

  &__footer {
    margin-top: 39px;
  }
}
