@import '../../env-styles/abstract';
@import '../../env-styles/functions';
@import '../../env-styles/variables';

.dropdown-menu {
  position: relative;

  &__header {
    @extend %field_bordered;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 15px;
    padding-right: 10px;

    background: white;
    border: $border {
      radius: 4px;
    };
    cursor: pointer;

    &_opened {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: $shadow_smaller;
    }
  }

  &__text {
    max-width: 67%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__icon {
    @extend %material-icons;
    color: $dark_shade50;
    cursor: pointer;
  }

  &__content {
    display: none;

    width: 100%;
    height: auto;
    z-index: 10;

    padding-right: 5px;
    padding-left: 15px;
    padding-bottom: 4px;

    border-radius: 0 0 4px 4px;
    border: $border;

    font-weight: bold;
    text-transform: uppercase;
    font-size: pxToRem(12px);
    color: $dark_shade100;

    background: white;
    box-shadow: $shadow_smaller;

    &_over {
      position: absolute;
    }

    &_opened {
      display: initial;
    }
  }

  &__item {
    height: pxToRem(37px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__counter {
    width: pxToRem(92px);

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__count {
    width: pxToRem(32px);
    text-align: center;
    font: inherit;
    background: white;
    border: none;
  }

  &__decrement, &__increment {
    height: pxToRem(30px);
    width: pxToRem(30px);
    cursor: pointer;
    padding: 0;

    font-size: pxToRem(18px);
    border: 1px solid $dark_shade25;
    border-radius: 50%;
    background: white;
    color: $dark_shade25;

    &:disabled {
      color: $dark_shade5;
      border-color: $dark_shade5;
      cursor: default;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &__button {
    margin-top: 20px;
    margin-bottom: 9px;

    font-weight: bold;
    text-transform: uppercase;
    font-size: pxToRem(12px);

    background: white;
    border: none;
    cursor: pointer;

    &_type_confirm {
      color: $primary;

      &:hover {
        color: $dark_shade50;
      }
    }

    &_type_cancel {
      color: $dark_shade50;
    }

    &_hidden {
      display: none;
    }
  }
}
