@import '../../env-styles/abstract';
@import '../../env-styles/functions';
@import '../../env-styles/variables';

.dropdown-menu {
  position: relative;

  &__header {
    @extend %field-bordered;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 14px;
    border: 1px solid $dark-shade25 {
      radius: 4px;
    }
    background: white;
    cursor: pointer;
    font-size: px-to-rem(14px);

    &_opened {
      border-color: $dark-shade50;
      border-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: $shadow-smaller;
    }
  }

  &__text {
    overflow: hidden;
    max-width: 67%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__icon {
    @extend %material-icons;

    color: $dark-shade50;
    cursor: pointer;
  }

  &__content {
    z-index: 10;
    display: none;
    width: 100%;
    height: auto;
    padding: 2px 6px 4px 14px;
    border: 1px solid $dark-shade25;
    background: white;
    border-radius: 0 0 4px 4px;
    box-shadow: $shadow-smaller;
    color: $dark-shade100;
    font-size: px-to-rem(12px);
    font-weight: bold;
    text-transform: uppercase;

    &_over {
      position: absolute;
    }

    &_opened {
      display: initial;
      border-color: $dark-shade50;
    }
  }

  &__item {
    display: flex;
    min-height: px-to-rem(37px);
    align-items: center;
    justify-content: space-between;
  }

  &__item-text{
    line-height: px-to-rem(15px);
  }

  &__counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__count {
    width: px-to-rem(32px);
    line-height: px-to-rem(15px);
    border: none;
    background: white;
    font: inherit;
    text-align: center;
  }

  &__decrement,
  &__increment {
    width: px-to-rem(30px);
    height: px-to-rem(30px);
    padding: 0;
    border: 1px solid $dark-shade25;
    background: white;
    border-radius: 50%;
    color: $dark-shade50;
    cursor: pointer;
    font-size: px-to-rem(18px);
    line-height: px-to-rem(22px);

    &:disabled {
      cursor: default;
      opacity: 0.38;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &__button {
    border: none;
    margin-top: 18px;
    margin-bottom: 7px;
    background: white;
    cursor: pointer;
    font-size: px-to-rem(12px);
    font-weight: bold;
    text-transform: uppercase;

    &_type_confirm {
      color: $primary;

      &:hover {
        color: $dark-shade50;
      }
    }

    &_type_cancel {
      color: $dark-shade50;
    }

    &_hidden {
      display: none;
    }
  }
}
