@import '../../env-styles/abstract';

.search-card {
  @extend %card;

  &__date {
    margin-top: 20px;
  }

  &__guests {
    margin-top: 21px;
  }

  &__submit-button {
    margin-top: 31px;
  }
}
