include ../dropdown-date/dropdown-date
include ../guests-dropdown/guests-dropdown
include ../button/button

mixin search-card
  form.search-card.js-search-card&attributes(attributes)
    .search-card__header Найдём номера под ваши пожелания
    .search-card__date
      +dropdown-date({titles:["Прибытие", "Выезд"]})
    .search-card__guests
      +guests-dropdown({title: "Гости"})
    .search-card__submit-button
      +button("Подобрать номер", {isArrowed: true})(type="submit")
