include ../dropdown-date/dropdown-date
include ../guests-dropdown/guests-dropdown
include ../button/button

mixin search-card
  form.search-card.js-search-card&attributes(attributes)
    h1.search-card__header Константин Константинович Константинопольский
    .search-card__date
      +dropdown-date({titles:["Константин Константинович", "Константин Константинович"]})
    .search-card__guests
      +guests-dropdown({title: "Константин Константинович Константинопольский"})
    .search-card__submit-button
      +button("Константин Константинович Константинопольский", {isArrowed: true})
