@import '../../env-styles/abstract';
@import '../../env-styles/theme';

.search-card {
  @extend %card;

  &__header{
    @extend h1;
  }

  &__date {
    margin-top: 20px;
  }

  &__guests {
    margin-top: 21px;
  }

  &__submit-button {
    margin-top: 31px;
  }
}
