@import './functions';
@import './variables';

%field {
  width: 100%;
  min-height: px-to-rem(44px);
  border: none;
  background: white;
  color: $dark-shade75;
  line-height: px-to-rem(18px);
}

%field-bordered {
  @extend %field;

  border: 1px solid $dark-shade25;
  border-radius: 4px;
}

%card {
  width: 100%;
  max-width: 380px;
  padding: 40px 30px 30px;
  background: white;
  border-radius: 4px;
  box-shadow: $shadow-big;

  @media screen and (max-width: 350px) {
    padding-right: 7%;
    padding-left: 7%;
  }
}

%material-icons {
  display: inline-block;
  direction: ltr;
  font-family: $material-icons;
  font-size: px-to-rem(24px);
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
}
