@import "variables";
@import "functions";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

html {
  //height: 100%; //todo: check where it using
  font-size: $root-font-size;
  font-family: $montserrat;
  color: $dark_shade75;
  background: #f8f8f8;
}

body {
  //height: 100%;
  line-height: pxToRem(24px);
  max-width: 1440px;
  margin: auto;
  background: white;
}

h1 {
  font-family: $quicksand;
  font-weight: bold;
  font-size: pxToRem(24px);
  line-height: pxToRem(30px);
  color: $dark_shade100;
}

h2 {
  font-family: $quicksand;
  font-weight: bold;
  font-size: pxToRem(19px);
  line-height: pxToRem(24px);
  color: $dark_shade100;
}

h3 {
  font-family: $montserrat;
  font-weight: bold;
  font-size: pxToRem(12px);
  line-height: pxToRem(15px);
  text-transform: uppercase;
  color: $dark_shade100;
}



