@import "./variables";

@mixin arrow($color, $isGradient: false) {
  width: 20px;
  height: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    height: 50%;
    width: 50%;
    content: '';
    @if ($isGradient) {
      border-right: 2px solid;
      border-top: 2px solid;
      border-image: $color 2;
      border-radius: 3px;
    } @else {
      border-right: 2px solid $color;
      border-top: 2px solid $color;
    }
    transform: rotate(45deg);
  }

  &:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 78%;
    background: $color;
    margin: auto;
  }
}

@mixin expander($color) {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &:before {
    content: '';
    height: 35%;
    width: 35%;
    transform: rotate(45deg);
    border-right: 2px solid $color;
    border-bottom: 2px solid $color;
  }
  &:after {
    content: '';
    height: 5px;
  }
}

@mixin menu($color) {
  width: 18px;
  height: 10px;
  display: flex;
  align-items: center;
  position: relative;
  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-top: 2px solid $color;
    border-bottom: 2px solid $color;
    border-radius: 1px;
  }
  &:after {
    width: 100%;
    content: '';
    border: 1px solid $color;
    border-radius: 1px;
  }
}
