@import './fonts/montserrat/montserrat';
@import './fonts/quicksand/quicksand';
@import './fonts/roboto/roboto';
@import './fonts/open-sans/open-sans';
@import 'functions';
@import 'variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

html {
  height: 100%;
  background: #f8f8f8;
  color: $dark-shade75;
  font-family: $montserrat;
  font-size: $root-font-size;
}

body {
  max-width: 1920px;
  min-height: 100%;
  margin: auto;
  background: white;
  line-height: px-to-rem(24px);
}

h1 {
  color: $dark-shade100;
  font-family: $quicksand;
  font-size: px-to-rem(24px);
  font-weight: bold;
  line-height: px-to-rem(30px);
}

h2 {
  color: $dark-shade100;
  font-family: $quicksand;
  font-size: px-to-rem(19px);
  font-weight: bold;
  line-height: px-to-rem(24px);
}

h3 {
  color: $dark-shade100;
  font-family: $montserrat;
  font-size: px-to-rem(12px);
  font-weight: bold;
  line-height: px-to-rem(15px);
  text-transform: uppercase;
}

:link,
:visited {
  color: $dark-shade50;
  text-decoration: none;
}
