@import './fonts/fontawesome/fontawesome';
@import './fonts/material/material';
@import './fonts/montserrat/montserrat';
@import './fonts/quicksand/quicksand';
@import './fonts/open-sans/open-sans';
@import 'functions';
@import 'variables';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

html {
  height: 100%;

  font-size: $root-font-size;
  font-family: $montserrat;

  color: $dark_shade75;
  background: #f8f8f8;
}

body {
  min-height: 100%;
  max-width: 1920px;
  margin: auto;

  line-height: pxToRem(24px);
  background: white;
}

h1 {
  line-height: pxToRem(30px);
  font-size: pxToRem(24px);
  font-family: $quicksand;
  font-weight: bold;
  color: $dark_shade100;
}

h2 {
  line-height: pxToRem(24px);
  font-size: pxToRem(19px);
  font-family: $quicksand;
  font-weight: bold;
  color: $dark_shade100;
}

h3 {
  line-height: pxToRem(15px);
  font-size: pxToRem(12px);
  font-family: $montserrat;
  font-weight: bold;
  text-transform: uppercase;
  color: $dark_shade100;
}

:link, :visited {
  text-decoration: none;
  color: $dark_shade50;
}
