@import "~lightslider/src/css/lightslider.css";
@import "../../env-styles/variables";
@import "../../env-styles/functions";

.room-card {
  width: 100%;
  max-width: pxToRem(270px);
  border-radius: 4px;
  box-shadow: $shadow_smaller;
  background: white;

  &__carousel{
    border-radius: 4px 4px 0 0;
  }
  &__img{
    border-radius: 4px 4px 0 0;
  }
  &__description{
    padding: 15px 20px;
  }
  &__impression{
    display: flex;
    justify-content: space-between;

    border-top: 1px solid $dark_shade10;
    padding-top: pxToRem(10px);
    margin-top: pxToRem(10px);
  }
  &__rewiew{
    color: $dark_shade50;
    &-count{
      font-weight: bold;
    }
  }
}
