mixin checkable-item({type, text, description})
  .checkable-item(class=`checkable-item_style_${type === "checkbox" ? "with-daw": "round"}`)
    label.checkable-item__label
      input.checkable-item__input(type=type)&attributes(attributes)
      .checkable-item__checker
      .checkable-item__text(class=description ? "checkable-item__text_importance_big" : "")=text
    if description
      .checkable-item__description=description

