@import '../../env-styles/functions';
@import '../../env-styles/variables';

.checkable-item {
  display: flex;
  flex-direction: column;

  &__label {
    display: inline-flex;
    cursor: pointer;
  }

  &_style_round &__label {
    align-items: center;
  }

  &__input {
    display: none;
  }

  &__checker {
    width: px-to-rem(20px);
    height: px-to-rem(20px);
    flex-shrink: 0;
    border: 1px solid $dark-shade25;
    margin-right: 10px;
    cursor: pointer;
  }

  &_style_round &__checker {
    border-radius: 50%;
  }

  &_style_with-daw &__checker {
    border-radius: 4px;
  }

  &__input:checked ~ &__checker {
    display: flex;
    justify-content: center;
    border-color: $primary;

    &::after {
      display: inline-block;
      content: '';
    }
  }

  &_style_round &__input:checked ~ &__checker::after {
    width: px-to-rem(12px);
    height: px-to-rem(12px);
    align-self: center;
    background: $gradient;
    border-radius: 50%;
  }

  &_style_with-daw &__input:checked ~ &__checker::after {
    width: px-to-rem(4px);
    height: px-to-rem(6px);
    border: solid {
      width: 0 2px 2px 0;
      image: $gradient {
        slice: 1;
      }
    }
    margin-top: 4px;
    transform: rotate(45deg);
  }

  &__text {
    padding-top: 2px;
    color: $dark-shade50;
    line-height: px-to-rem(18px);
    white-space: pre-wrap;

    &_importance_big {
      color: $dark-shade75;
      font-weight: bold;
    }
  }

  &_style_round &__text {
    padding-top: 0;
    line-height: px-to-rem(24px);
  }

  &_style_round &__input:checked ~ &__text {
    color: $dark-shade75;
  }

  &__description {
    padding-top: 5px;
    margin-left: 30px;
    color: $dark-shade50;
    font-size: px-to-rem(12px);
    line-height: px-to-rem(14px);
    white-space: pre-wrap;
  }
}
