@import '../../env-styles/functions';
@import '../../env-styles/variables';

.checkable-item {
  display: flex;
  flex-direction: column;

  &__label {
    display: inline-flex;
    cursor: pointer;
  }

  &__input {
    display: none;
  }

  &__checker {
    width: px-to-rem(20px);
    height: px-to-rem(20px);
    flex-shrink: 0;
    border: 1px solid $dark-shade25;
    margin-right: 10px;
    cursor: pointer;

    &_type {
      &_checkbox {
        border-radius: 4px;
      }

      &_radio {
        border-radius: 50%;
      }
    }
  }

  &__input:checked ~ &__checker {
    display: flex;
    justify-content: center;
    border-color: $primary;

    &::after {
      display: inline-block;
      content: '';
    }

    &_type_radio::after {
      width: px-to-rem(12px);
      height: px-to-rem(12px);
      align-self: center;
      background: $gradient;
      border-radius: 50%;
    }

    &_type_checkbox::after {
      width: px-to-rem(4px);
      height: px-to-rem(6px);
      border: solid {
        width: 0 2px 2px 0;
        image: $gradient {
          slice: 1;
        }
      }
      margin-top: 4px;
      transform: rotate(45deg);
    }
  }

  &__text {
    padding-top: 2px;
    color: $dark-shade50;
    line-height: 129%;
    white-space: pre-wrap;

    &_type_radio {
      line-height: 120%;
    }

    &_title {
      color: $dark-shade75;
      font-weight: bold;
    }
  }

  &__input:checked ~ &__text_type_radio {
    color: $dark-shade75;
  }

  &__text-with-info {
    padding-top: 1px;
    line-height: 129%;
    white-space: pre-wrap;
  }

  &__title {
    font-weight: bold;
  }

  &__description {
    padding-top: 5px;
    margin-left: 30px;
    color: $dark-shade50;
    font-size: px-to-rem(12px);
    line-height: 117%;
    white-space: pre-wrap;
  }
}
