@import '../../env-styles/functions';
@import '../../env-styles/variables';

.bullet-list {
  &__item {
    display: flex;
    margin-bottom: 10px;
    list-style: none;
  }

  &__bullet {
    display: inline-block;
    width: px-to-rem(10px);
    height: px-to-rem(10px);
    flex-shrink: 0;
    margin-right: 11px;
    background: $dark-shade25;
    border-radius: 50%;
  }
}
