mixin bullet-list({items})
  ul.bullet-list&attributes(attributes)
    for item in items
      li.bullet-list__item
        .bullet-list__bullet-box
          span.bullet-list__bullet
        .bullet-list__text=item
