@import '../../env-styles/functions';
@import '../../env-styles/variables';

.bullet-list {
  &__item {
    display: flex;
    margin-bottom: 10px;
    list-style: none;
  }

  &__bullet {
    width: pxToRem(10px);
    height: pxToRem(10px);
    margin-right: 11px;

    display: inline-block;
    flex-shrink: 0;

    border-radius: 50%;
    background: $dark_shade25;
  }
}



