.checkbox-group{
  display: flex;
  flex-direction: column;
}
.checkbox {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  input {
    //position: absolute;
    opacity: 0; // hide native box
    cursor: pointer;
    &:checked ~ .checkbox-item{
      border-color: $primary;
      &:after{
        display: inline-block;
      }
    }
  }
}

.checkbox-item {
  position: absolute;
  top: 2px;
  left: 0;
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  border: 1px solid $dark_shade25{
    radius: 4px;
  }
  &:after{
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 3px;
    width: 6px;
    height: 8px;
    border: solid{
      width: 0 3px 3px 0;
      image: $gradient{
        slice: 1;
      }
    }
    transform: rotate(45deg);
  }
}

.chbox-title{
  color: $dark_shade50;
}
.chbox-descr{
  font-weight: bold;
  color: $dark_shade75;
}
