mixin carousel(imgs)
  .carousel
    ul.carousel__content.js-carousel__content
      for img in imgs
        li.carousel__imgs
          img.carousel__img(
            src=require(`${img.src}`).default
            alt=img.alt
          )
