mixin carousel(imgs)
  .carousel
    ul.carousel__content.js-carousel__content
      for img in imgs
        li.carousel__imgs
          img.carousel__img(
            src=require(`@res/imgs/${img.srcName}`).default
            alt=img.alt
          )
          // todo: src
