@import '../../../kit/env-styles/functions';
@import '../../../kit/env-styles/variables';

$search-room-point_big: 857px;

.search-room {
  position: relative;
  padding: 30px 6px 0;
  margin: auto;
  display: grid;
  gap: 58.7px;
  grid-template-columns: 266px 1fr;
  max-width: 1174px;

  @media screen and (max-width: $search-room-point_big) {
    grid-template-columns: 1fr;
  }

  &__configuration {
    width: 266px;
    @media screen and (max-width: $search-room-point_big) {
      margin: 0 auto;
    }
  }

  &__date {
    margin-bottom: 20px;
  }

  &__guests {
    margin-bottom: 30px;
  }

  &__cost-info {
    margin-top: 9px;
    font-size: pxToRem(12px);
    color: $dark_shade50;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__facility {
    margin: 24px 0 30px;
  }

  &__accessibility {
    margin-bottom: 30px;
  }

  &__furniture {
    margin-bottom: 15px;
  }

  &__result-title {
    @media screen and (max-width: $search-room-point_big) {
      text-align: center;
    }
  }

  &__rooms {
    margin-top: 20px;
    padding-right: 1px;
    padding-left: 1px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    justify-content: center;
    grid-column-gap: 1.4%;
    grid-row-gap: 20px;
  }

  &__room-link {
    width: 100%;
    max-width: 340px;
  }

  &__paginator-wrapper {
    display: flex;
    justify-content: center;
    margin: 42px 0 73px;
  }
}

