@import '../../../kit/env-styles/functions';
@import '../../../kit/env-styles/theme';
@import '../../../kit/env-styles/variables';

$search-room-point-big: 857px;

.search-room {
  position: relative;
  display: grid;
  max-width: 1202px;
  padding: 30px 20px 0;
  margin: auto;
  gap: 58.7px;
  grid-template-columns: 266px 1fr;

  @media screen and (max-width: $search-room-point-big) {
    grid-template-columns: 1fr;
  }

  &__configuration {
    width: 266px;

    @media screen and (max-width: $search-room-point-big) {
      margin: 0 auto;
    }
  }

  &__date {
    margin-bottom: 21px;
  }

  &__guests {
    margin-bottom: 30px;
  }

  &__cost-info {
    margin-top: 14px;
    color: $dark-shade50;
    font-size: px-to-rem(12px);
    line-height: px-to-rem(14px);
  }

  &__title {
    @extend h3;
    margin-bottom: 16px;
  }

  &__facility {
    margin: 29px 0 32px;
  }

  &__accessibility {
    margin-bottom: 29px;
  }

  &__furniture {
    margin-bottom: 15px;
  }

  &__result-title {
    @media screen and (max-width: $search-room-point-big) {
      text-align: center;
    }
  }

  &__rooms {
    display: grid;
    width: 100%;
    justify-content: center;
    padding-right: 1px;
    padding-left: 1px;
    margin-top: 20px;
    grid-column-gap: 1.4%;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
  }

  &__room-link {
    display: flex;
    width: 100%;
    max-width: 340px;
    cursor: pointer;
  }

  &__paginator-wrapper {
    display: flex;
    justify-content: center;
    margin: 42px 0 73px;
  }
}
