extends ../layout/layout

block main
  include ../../../kit/blocks/dropdown-date/dropdown-date
  include ../../../kit/blocks/checkbox-list/checkbox-list
  include ../../../kit/blocks/expandable-checkboxes/expandable-checkboxes
  include ../../../kit/blocks/slider/slider
  include ../../../kit/blocks/guests-dropdown/guests-dropdown
  include ../../../kit/blocks/furniture-dropdown/furniture-dropdown
  include ../../../kit/blocks/paginator/paginator
  include ../../../kit/blocks/room-card/room-card

  article.search-room
    section.search-room__configuration
      .search-room__date
        +dropdown-date({
          titles: ["Константин Константинович Константинопольский Константин Константинович Константинопольский"],
          dates: [new Date(2020, 7, 19), new Date(2020, 7, 23)]
        })
      .search-room__guests
        +guests-dropdown({title: "Константин Константинович Константинопольский Константин Константинович Константинопольский", counts: [2, 1, 1]})
      +slider({title: "Константин Константинович Константинопольский"})
      .search-room__cost-info Константин Константинович Константинопольский Константин Константинович Константинопольский Константин Константинович Константинопольский Константин Константинович Константинопольский
      .search-room__facility
        h3.search-room__title Константин Константинович Константинопольский Константин Константинович Константинопольский
        +checkbox-list({
          items: [
            {text: "Константин Константинович Константинопольский Константин Константинович Константинопольский Константин Константинович Константинопольский"},
            {text: "Можно с питомцами", attributes: {checked: true}},
            {text: "Можно пригласить гостей \n(до 10 человек)", attributes: {checked: true}},
          ]
        })
      .search-room__accessibility
        h3.search-room__title Константин Константинович Константинопольский
        +checkbox-list({
          items: [
            {
              text: "Константин Константинович Константинопольский",
              description: "Константин Константинович Константинопольский Константин Константинович Константинопольский Константин Константинович Константинопольский Константин Константинович Константинопольский"
            },
            {
              text: "Помощник для инвалидов",
              description: "На 1 этаже вас встретит специалист \nи проводит до номера."
            },
          ]
        })
      .search-room__furniture
        +furniture-dropdown({title: "Константин Константинович Константинопольский", counts: [2, 2]})
      +expandable-checkboxes({
        items: [
          {text: "Константин Константинович Константинопольский Константин Константинович Константинопольский "},
          {text: "Письменный стол", attributes: {checked: true}},
          {text: "Стул для кормления", attributes: {checked: true}},
          {text: "Кроватка", attributes: {checked: true}},
          {text: "Телевизор"},
          {text: "Шампунь"},
        ], title: "Константин Константинович Константинопольский Константин Константинович Константинопольский"
      })
    section.search-room__results
      h1.search-room__result-title Константин Константинович Константинопольский Константин Константинович Константинопольский Константин Константинович Константинопольский
      - const {rooms} = require("./json/rooms.json")
      .search-room__rooms
        - i=0;
        while i < 12
          a(href= i === 0 ? './room-details.html' : '/mock-address').search-room__room-link
            +room-card(rooms[i]).search-room__room
            - i++
      .search-room__paginator-wrapper
        +paginator("Константин Константинович Константинопольский  Константин Константинович Константинопольский  Константин Константинович Константинопольский Константин Константинович Константинопольский ")
