extends ../layout/layout

block main
  include ../../../kit/blocks/dropdown-date/dropdown-date
  include ../../../kit/blocks/checkbox-list/checkbox-list
  include ../../../kit/blocks/expandable-checkboxes/expandable-checkboxes
  include ../../../kit/blocks/slider/slider
  include ../../../kit/blocks/guests-dropdown/guests-dropdown
  include ../../../kit/blocks/furniture-dropdown/furniture-dropdown
  include ../../../kit/blocks/paginator/paginator
  include ../../../kit/blocks/room-card/room-card

  main.search-page__main
    section.search-page__configuration
      .search-page__date
        +dropdown-date([{title: "Даты пребывания в отеле"}])
      .search-page__guests
        +guests-dropdown({title: "Гости"})
      +slider({title: "Диапазон цены"})
      .search-page__cost-info Стоимость за сутки пребывания в номере
      .search-page__facility
        h3.search-page__title Условия
        +checkbox-list({
          items: [
            {text: "Можно курить"},
            {text: "Можно с питомцами"},
            {text: "Можно пригласить гостей \n(до 10 человек)"},
          ]
          })
      .search-page__accessibility
        h3.search-page__title Доступность
        +checkbox-list({
          items: [
            {
              text: "Широкий коридор",
              description: "Ширина коридоров в номере не менее 91 см."
            },
            {
              text: "Помощник для инвалидов",
              description: "На 1 этаже вас встретит специалист и проводит до номера."
            },
          ]
          })
      .search-page__furniture
        +furniture-dropdown({title: "Удобства номера"})
      +expandable-checkboxes({
        items: [
          {text: "Завтрак"},
          {text: "Письменный стол"},
          {text: "Стул для кормления"},
          {text: "Кроватка"},
          {text: "Телевизор"},
          {text: "Шампунь"},
          {text: "Телевизор"},
          {text: "Шампунь"},
        ], title: "Дополнительные удобства"
        })
    section.search-page__results
      h1 Номера, которые мы для вас подобрали
      - const {rooms} = require("./json/rooms.json")
      .search-page__rooms
        - i=0;
        while i < 12
          a(href='./room-details.html')
            +room-card(rooms[i]).search-page__room
            - i++
      .search-page__paginator-wrapper
        +paginator("1 – 12 из 100+ вариантов аренды").search-page__paginator
