include ../dropdown-menu/dropdown-menu

mixin furniture-dropdown({title, subtitle, counts=[0,0,0], isOpened, isInline})
  .js-furniture-dropdown
    +dropdown-menu([
      {name: "bedrooms", text: "Спальни", count: counts[0]},
      {name: "beds", text: "Кровати", count: counts[1]},
      {name: "bathrooms", text: "Ванные комнаты", count: counts[2]},
    ],
      {title, subtitle, isOpened, isInline}
    )&attributes(attributes)
