@import '../../env-styles/variables';

.feedback {
  display: grid;
  gap: 9px;
  grid-template-columns: auto 1fr;

  &__title {
    padding-top: 1px;
  }

  &__user {
    font-weight: bold;
  }

  &__like {
    margin: 0 auto;
  }

  &__image {
    align-self: center;
    justify-self: center;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: $shadow-small;
  }
}
