@import '../../env-styles/variables';

.feedback {
  display: grid;
  gap: 9px;
  grid-template-columns: auto 1fr;

  &__user {
    font-weight: bold;
  }

  &__like {
    margin: 0 auto;
  }

  &__image {
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: $shadow_small;
  }
}
