@import '../../env-styles/functions';
@import '../../env-styles/variables';

.room-title {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  font-weight: bold;
  white-space: pre-wrap;

  &__prefix {
    color: $dark-shade100;
    font-family: $quicksand;
    line-height: px-to-rem(17px);
  }

  &__number {
    display: inline-block;
    margin-right: 5px;
    margin-left: 4px;
    color: $dark-shade100;
    font-family: $quicksand;
    font-size: px-to-rem(24px);
    line-height: px-to-rem(30px);

    &_font_mini {
      margin-left: 4px;
      font-size: px-to-rem(19px);
      line-height: px-to-rem(24px);
    }
  }

  &__lux {
    color: $primary;
    font-size: px-to-rem(12px);
    line-height: px-to-rem(15px);
    text-transform: uppercase;
  }

  &__separator {
    min-width: 10px;
    flex-grow: 1;
  }

  &__price {
    color: $dark-shade50;
    line-height: px-to-rem(18px);
  }

  &__info {
    color: $dark-shade50;
    font-size: px-to-rem(12px);
    font-weight: normal;
    line-height: px-to-rem(18px);
  }
}
