mixin room-title({number, isLux, price, isMiniStyle})
  - const util = require("@utils/LocaleForPugUtil").default
  .room-title(class=isMiniStyle ? "room-title_font_mini" : "")
    .room-title__room-number
      span.room-title__prefix №
      span.room-title__number= number
    if isLux
      span.room-title__lux Люкс
    .room-title__separator
    .room-title__room-price
      span.room-title__price= util.toRuPrice(price) + " "
      span.room-title__info в сутки
