@import '../../env-styles/abstract';
@import '../../env-styles/variables';

.subscribe-input {
  position: relative;

  &__input {
    @extend %field-bordered;

    width: 100%;
    padding-right: 40px;
    padding-left: 15px;
    font-size: px-to-rem(14px);

    &:invalid {
      box-shadow: 0 0 5px $primary;
    }

    &::placeholder {
      color: $dark-shade25;
    }
  }

  &__button {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    height: 100%;
    border: none;
    background: none;
    color: transparent;
    cursor: pointer;
  }

  &__icon {
    @extend %material-icons;

    margin: auto 10px;
    background: $gradient;
    -webkit-background-clip: text;
  }

  &__input:invalid + &__invalid-light {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px $primary;
  }
}
