mixin subscribe-input
  form.subscribe-input
    input(
      placeholder="Email"
      type="email"
      name="email"
    )&attributes(attributes).subscribe-input__input
    button.subscribe-input__button
      i.subscribe-input__icon arrow_forward

