mixin subscribe-input()
  .subscribe-input(class=attributes.class)
    - delete attributes.class
    input(placeholder='Email' type='email')&attributes(attributes).subscribe-input__input
    i.material-icons.subscribe-input__icon arrow_forward

