mixin subscribe-input
  .subscribe-input
    input(
      placeholder="Email"
      type="email"
    )&attributes(attributes).subscribe-input__input
    .subscribe-input__invalid-light
    i.subscribe-input__icon arrow_forward

