@import "colors";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", "Roboto", serif;
  font-size: 14px;
  line-height: 24px;
  color: $dark_shade75;
}

h1 {
  font-family: Quicksand, serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: $dark_shade100;
}

h2 {
  font-family: Quicksand, serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $dark_shade100;
}

h3, label {
  font-family: Montserrat, serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $dark_shade100;
}

.field {
  width: 320px;
  height: 44px;

  box-sizing: border-box;
  border-radius: 4px;
  line-height: 18px;
  padding-left: 15px; // 141 156 w320
  font: $dark_shade25;
  border: 1px solid $dark_shade25;
  //background: white;
}

input {
  //@extend .field;
}

input:hover {
  border-color: $dark_shade50;
}

input:focus {
  border-color: $dark_shade50;
}


