include ../checkable-item/checkable-item

mixin radio-list({items})
  fieldset.radio-list&attributes(attributes)
    .radio-list__wrapper-for-chrome
      each item in items
        .radio-list__item
          +checkable-item({
            type: "radio",
            text: item.text
          })&attributes(item.attributes)
