@import "../../../kit/env-styles/theme";

$form-elements-point_middle: 980px;
$form-elements-point_small: 630px;

.form-elements {
  &__main {
    max-width: 1168px;
    padding: 5px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 320px));
    grid-column-gap: 99px;
    grid-row-gap: 70px;

    @media screen and (max-width: $form-elements-point_middle) {
      grid-template-columns: repeat(2, minmax(250px, 320px));
    }
    @media screen and (max-width: $form-elements-point_middle) {
      grid-template-columns: minmax(250px, 320px);
    }
  }

  &__title {
    margin-bottom: 5px;
  }

  &__hight-title {
    margin-bottom: 15px;
  }

  &__separator {
    height: 20px;
  }

  &__medium-separator {
    height: 30px;
  }

  &__big-separator {
    height: 40px;
  }

  &__wrapper {
    max-width: 266px;
  }

  &__small-wrapper {
    max-width: 222px;
  }

  &__like {
    display: inline-block;
    margin-right: 10px;
  }

  &__clickable-item {
    display: inline-block;
    margin-right: 20px;
  }

  &__feedback {
    grid-column: 2/ span 2;
    max-width: 713px;
    @media screen and (max-width: $form-elements-point_middle) {
      grid-column: 1/ span 2;
    }
    @media screen and (max-width: $form-elements-point_small) {
      grid-column: initial;
    }
  }
}
