extends ../layout/layout

block body
  include ../../../kit/blocks/kit-header/kit-header
  include ../../../kit/blocks/title/title
  include ../../../kit/blocks/input/input
  include ../../../kit/blocks/guests-dropdown/guests-dropdown
  include ../../../kit/blocks/dropdown-date/dropdown-date
  include ../../../kit/blocks/subscribe-input/subscribe-input
  include ../../../kit/blocks/checkbox-list/checkbox-list
  include ../../../kit/blocks/radio-list/radio-list
  include ../../../kit/blocks/toggle/toggle
  include ../../../kit/blocks/like-button/like-button
  include ../../../kit/blocks/rating/rating
  include ../../../kit/blocks/slider/slider
  include ../../../kit/blocks/button/button
  include ../../../kit/blocks/a/a
  include ../../../kit/blocks/paginator/paginator
  include ../../../kit/blocks/furniture-dropdown/furniture-dropdown
  include ../../../kit/blocks/bullet-list/bullet-list
  include ../../../kit/blocks/iconed-list/iconed-list
  include ../../../kit/blocks/feedback/feedback
  include ../../../kit/blocks/expandable-checkboxes/expandable-checkboxes


  body.form-elements
    -
      const simpleCheckboxData = [
        {text: "Завтрак"},
        {text: "Письменный стол", attributes: {checked: true}},
        {text: "Стул для кормления", attributes: {checked: true}},
        {text: "Кроватка", attributes: {checked: true}},
        {text: "Телевизор"},
        {text: "Шампунь"}
      ];

    +kit-header
    main.form-elements__main
      .form-elements__inputs
        +title({title: "Text field", subtitle: "Default"})
        +input()(placeholder="Email" type="email")
        .form-elements__separator
        +title({title: "Text field", subtitle: "Hover / focus"})
        +input()(value="This is pretty awesome")
        .form-elements__separator
        +guests-dropdown({title: "Dropdown", subtitle: "Default"})
        .form-elements__separator
        +title({title: "Masked text field", subtitle: "Default"})
        +input({isDateMasked: true})
        .form-elements__big-separator
        +dropdown-date([{title: "Date dropdown"}, {
          title: "Date dropdown",
          date: "19.08.2019"
        }])
        .form-elements__big-separator
        .form-elements__wrapper
          +dropdown-date([{title: "Filter date dropdown"}])
          .form-elements__big-separator
          h3.form-elements__title Subscription text field
          +subscribe-input
      .form-elements__simple-checkables
        .form-elements__small-wrapper
          h3.form-elements__hight-title Checkbox buttons
          +checkbox-list({
            items: [
              {
                text: "Можно курить",
                attributes: {
                  name: "?",
                  value: "smoke"
                }
              },
              {
                text: "Можно с питомцами",
                attributes: {
                  name: "?",
                  value: "pet",
                  checked: true
                }
              },
              {
                text: "Можно пригласить гостей (до 10 человек)",
                attributes: {
                  name: "?",
                  value: "visiters",
                  checked: "checked"
                }
              },
            ]
          })
        .form-elements__medium-separator
        h3.form-elements__hight-title Radio buttons
        +radio-list({
          items: [
            {
              text: "Мужчина",
              attributes: {
                value: "M",
                name: "gender",
                checked: true
              }
            },
            {
              text: "Женщина",
              attributes: {
                value: "W",
                name: "gender"
              }
            }
          ]
        })
        .form-elements__big-separator
        h3.form-elements__hight-title Toggle
        +toggle("Получать спецпредложения")(checked)
        +toggle("Получать спецпредложения")
        .form-elements__big-separator
        h3.form-elements__hight-title Like button
        .js-form-elements__likes
          .form-elements__like
            +like-button(2)
          .form-elements__like
            +like-button(12)(checked)
        .form-elements__big-separator
        h3.form-elements__hight-title Rate button
        .form-elements__clickable-item
          +rating({rating: 4, groupName: "star-1"})
        .form-elements__clickable-item
          +rating({rating: 5, groupName: "star-2"})
      .form-elements__clickables
        .form-elements__wrapper
          +slider({title: "Range slider"})
        .form-elements__big-separator
        h3.form-elements__hight-title Buttons
        .form-elements__clickable-item
          +button("Click me", {})
        .form-elements__medium-separator
        .form-elements__clickable-item
          +button("Click me", {isFlat: true})
        .form-elements__medium-separator
        .form-elements__clickable-item
          +a("Click me")(href="mock-address")
        .form-elements__medium-separator
        +button("Перейти к оплате", {isArrowed: true})
        .form-elements__big-separator
        h3.form-elements__title Pagination
        +paginator("1 – 12 из 100+ вариантов аренды")
      .form-elements__dropdown-conditions
        .form-elements__wrapper
          +furniture-dropdown({
            counts: [2, 2, 0],
            title: "Dropdown",
            subtitle: "Default"
          })
          .form-elements__separator
          +furniture-dropdown({
            counts: [2, 2, 0],
            title: "Dropdown",
            subtitle: "Expanded",
            isOpened: true,
            isInline: true
          })
      .form-elements__dropdown.form-elements__dropdown_with-confirm
        +guests-dropdown({
          title: "Dropdown",
          isOpened: true,
          isInline: true,
        })
      .form-elements__dropdown.form-elements__dropdown_with-cancel
        +guests-dropdown({
          counts: [2, 1, 0],
          title: "Dropdown",
          isOpened: true,
          isInline: true,
        })
      .form-elements__expandable-checkboxes
        .form-elements__wrapper
          +expandable-checkboxes({
            items: simpleCheckboxData,
            title: "Expandable checkbox list",
          })
          .form-elements__separator
          +expandable-checkboxes({
            items: simpleCheckboxData,
            title: "Expandable checkbox list",
            isOpened: true
          })
      .form-elements__rich-checkboxes
        .form-elements__wrapper
          h3.form-elements__hight-title Rich checkbox buttons
          +checkbox-list({
            items: [
              {
                text: "Широкий коридор",
                description: "Ширина коридоров в номере не менее 91 см."
              },
              {
                text: "Помощник для инвалидов",
                description: "На 1 этаже вас встретит специалист и проводит до номера."
              },
            ]
          })
      .form-elements__bullets
        .form-elements__wrapper
          h3.form-elements__hight-title Bullet list
          +bullet-list({
            items: [
              "Нельзя с питомцами",
              "Без вечеринок и меропреятий",
              "Время прибытия — после 13:00, а выезд до 12:00"
            ]
          })
      .form-elements__iconed-list
        .form-elements__wrapper
          +iconed-list([
            {
              icon: "insert_emoticon",
              title: "Комфорт",
              description: "Шумопоглощающие стены"
            },
            {
              icon: "location_city",
              title: "Удобство",
              description: "Окно в каждой из спален"
            },
          ])
      .form-elements__feedback
        +feedback(
          {
            img: {src: require("./imgs/avatar-1.jpg").default, alt: "Somebody"},
            name: "Мурад Сарафанов",
            time: "5 дней назад",
            text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
            like: {count: 12, active: true}
          })







