@import '../../../kit/env-styles/theme';

$form-elements-point-middle: 980px;
$form-elements-point-small: 630px;

.form-elements {
  &__main {
    display: grid;
    max-width: 1170px;
    padding: 5px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    grid-row-gap: 40px;
    grid-template-columns: repeat(3, minmax(250px, 400px));

    @media screen and (max-width: $form-elements-point-middle) {
      grid-column-gap: 20px;
      grid-row-gap: 30px;
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: $form-elements-point-small) {
      grid-template-columns: 1fr;
    }
  }

  &__inputs {
    max-width: 320px;
    margin-left: 1px;

    @media screen and (max-width: $form-elements-point-middle) {
      margin: 2px;
    }
  }

  &__hover-input {
    margin-top: 21px;
  }

  &__default-dropdown {
    margin-top: 20px;
  }

  &__masked-input {
    margin-top: 22px;
  }

  &__date {
    margin-top: 41px;
  }

  &__filter-date {
    max-width: 266px;
    margin-top: 40px;
  }

  &__subscribe {
    max-width: 266px;
    margin-top: 41px;
  }

  &__simple-checkables {
    padding-top: 1px;
    margin-left: 60px;

    @media screen and (max-width: $form-elements-point-middle) {
      margin: 2px;
    }
  }

  &__radio {
    margin-top: 41px;
  }

  &__toggles {
    margin-top: 36px;
  }

  &__toggle-on {
    margin-top: 16px;
  }

  &__toggle-off {
    margin-top: 7px;
  }

  &__likes {
    margin-top: 38px;
  }

  &__like {
    display: inline-block;
    margin-top: 8px;
    margin-right: 10px;
  }

  &__rates {
    margin-top: 39px;
  }

  &__rate {
    display: inline-block;
    margin-right: 20px;
  }

  &__clickables {
    margin-left: 66px;

    @media screen and (max-width: $form-elements-point-middle) {
      margin: 2px;
    }
  }

  &__slider {
    max-width: 266px;
  }

  &__buttons {
    margin-top: 44px;
  }

  &__raised-button {
    margin-top: 15px;
  }

  &__flat-button {
    margin-top: 30px;
  }

  &__link {
    margin-top: 26px;
    margin-left: 1px;
  }

  &__submit-button {
    max-width: 320px;
    margin-top: 25px;
  }

  &__paginator {
    margin-top: 41px;
    margin-left: 1px;
  }

  &__paginator-item {
    margin-top: 16px;
  }

  &__dropdown-conditions {
    max-width: 266px;
    min-height: 266px;
    margin-top: 60px;

    @media screen and (max-width: $form-elements-point-middle) {
      margin: 2px;
    }
  }

  &__furniture-expanded {
    margin-top: 20px;
  }

  &__guests {
    max-width: 320px;
    margin-top: 60px;
    margin-left: 60px;

    @media screen and (max-width: $form-elements-point-middle) {
      margin: 2px;
    }
  }

  &__filled-guests {
    margin-top: 60px;
    margin-left: 66px;

    @media screen and (max-width: $form-elements-point-middle) {
      margin: 2px;
    }
  }

  &__expandable-checkboxes {
    max-width: 266px;

    @media screen and (max-width: $form-elements-point-middle) {
      margin: 2px;
    }
  }

  &__expander {
    margin-left: 1px;
  }

  &__opened-expander {
    margin-top: 20px;
  }

  &__rich-checkboxes {
    margin-top: 14px;
    margin-left: 60px;

    @media screen and (max-width: $form-elements-point-middle) {
      margin: 2px;
    }
  }

  &__bullets {
    margin-top: 15px;
    margin-left: 66px;

    @media screen and (max-width: $form-elements-point-middle) {
      margin: 2px;
    }
  }

  &__bullet-list {
    max-width: 262px;
    margin-top: 13px;
  }

  &__iconed-list {
    max-width: 266px;
    margin-top: 49px;
    margin-bottom: 142px;

    @media screen and (max-width: $form-elements-point-middle) {
      margin: 2px;
    }
  }

  &__feedback {
    max-width: 713px;
    margin-top: 59px;
    margin-left: 59px;
    grid-column: 2/ span 2;

    @media screen and (max-width: $form-elements-point-middle) {
      margin: 2px;
      grid-column: 1/ span 2;
    }

    @media screen and (max-width: $form-elements-point-small) {
      grid-column: initial;
    }
  }

  &__title {
    margin-bottom: 5px;
  }

  &__hight-title {
    margin-bottom: 15px;
  }
}
