extends ../layout/layout

block body
  include ../../../kit/blocks/kit-header/kit-header
  include ../../../kit/blocks/title/title
  include ../../../kit/blocks/input/input
  include ../../../kit/blocks/guests-dropdown/guests-dropdown
  include ../../../kit/blocks/dropdown-date/dropdown-date
  include ../../../kit/blocks/checkbox-list/checkbox-list
  include ../../../kit/blocks/radio-list/radio-list
  include ../../../kit/blocks/toggle/toggle
  include ../../../kit/blocks/like-button/like-button
  include ../../../kit/blocks/rating/rating
  include ../../../kit/blocks/slider/slider
  include ../../../kit/blocks/button/button
  include ../../../kit/blocks/a/a
  include ../../../kit/blocks/paginator/paginator
  include ../../../kit/blocks/furniture-dropdown/furniture-dropdown
  include ../../../kit/blocks/bullet-list/bullet-list
  include ../../../kit/blocks/iconed-list/iconed-list
  include ../../../kit/blocks/feedback/feedback
  include ../../../kit/blocks/expandable-checkboxes/expandable-checkboxes


  body.form-elements
    -
      const simpleCheckboxData = [
        {text: "Завтрак"},
        {text: "Письменный стол", attributes: {checked: true}},
        {text: "Стул для кормления", attributes: {checked: true}},
        {text: "Кроватка", attributes: {checked: true}},
        {text: "Телевизор"},
        {text: "Шампунь"}
      ];

    +kit-header
    main.form-elements__main
      .form-elements__inputs
        .form-elements__default-input
          +title({title: "Text field", subtitle: "Default"})
          +input({})(placeholder="Email" type="email")
        .form-elements__hover-input
          +title({title: "Text field", subtitle: "Hover / focus"})
          +input({})(value="This is pretty awesome")
        .form-elements__default-dropdown
          +guests-dropdown({title: "Dropdown", subtitle: "Default"})
        .form-elements__masked-input
          +title({title: "Masked text field", subtitle: "Default"})
          +input({isDateMasked: true})
        .form-elements__date
          +dropdown-date({
            titles: ["Date dropdown", "Date dropdown"],
            dates: [new Date(2019, 7, 19)]
          })
        .form-elements__filter-date
          +dropdown-date({
            titles: ["Filter date dropdown"],
            dates: [new Date(2020, 7, 19), new Date(2020, 7, 23)]
          })
        .form-elements__subscribe
          h3.form-elements__title Subscription text field
          +input({isSubscribe: true})
      .form-elements__simple-checkables
        h3.form-elements__title Checkbox buttons
        .form-elements__checklist
          +checkbox-list({
            items: [
              {
                text: "Можно курить",
                attributes: {
                  name: "?",
                  value: "smoke"
                }
              },
              {
                text: "Можно с питомцами",
                attributes: {
                  name: "?",
                  value: "pet",
                  checked: true
                }
              },
              {
                text: "Можно пригласить гостей \n(до 10 человек)",
                attributes: {
                  name: "?",
                  value: "visiters",
                  checked: "checked"
                }
              },
            ]
          })
        .form-elements__radio
          h3.form-elements__title Radio buttons
          .form-elements__radio-list
            +radio-list({
              items: [
                {
                  text: "Мужчина",
                  attributes: {
                    value: "M",
                    name: "gender",
                    checked: true
                  }
                },
                {
                  text: "Женщина",
                  attributes: {
                    value: "W",
                    name: "gender"
                  }
                }
              ]
            })
        .form-elements__toggles
          h3.form-elements__title Toggle
          .form-elements__toggle-on
            +toggle("Получать спецпредложения")(checked)
          .form-elements__toggle-off
            +toggle("Получать спецпредложения")
        .form-elements__likes.js-form-elements__likes
          h3.form-elements__title Like button
          .form-elements__like
            +like-button(2)
          .form-elements__like
            +like-button(12)(checked)
        .form-elements__rates
          h3.form-elements__hight-title Rate button
          .form-elements__rate
            +rating({rating: 4, groupName: "star-1"})
          .form-elements__rate
            +rating({rating: 5, groupName: "star-2"})
      .form-elements__clickables
        .form-elements__slider
          +slider({title: "Range slider"})
        .form-elements__buttons
          h3.form-elements__hight-title Buttons
          .form-elements__raised-button
            +button("Click me", {})(type="button")
          .form-elements__flat-button
            +button("Click me", {isBordered: true})(type="button")
          .form-elements__link
            +a("Click me")(href="/mock-address")
          .form-elements__submit-button
            +button("Перейти к оплате", {isArrowed: true})(type="submit")
        .form-elements__paginator
          h3.form-elements__title Pagination
          .form-elements__paginator-item
            +paginator("1 – 12 из 100+ вариантов аренды")
      .form-elements__dropdown-conditions
        .form-elements__furniture-default
          +furniture-dropdown({
            counts: [2, 2, 0],
            title: "Dropdown",
            subtitle: "Default"
          })
        .form-elements__furniture-expanded
          +furniture-dropdown({
            counts: [2, 2, 0],
            title: "Dropdown",
            subtitle: "Expanded",
            isOpened: true,
          })
      .form-elements__guests
        +guests-dropdown({
          title: "Dropdown",
          isOpened: true,
        })
      .form-elements__filled-guests
        +guests-dropdown({
          counts: [2, 1, 0],
          title: "Dropdown",
          isOpened: true,
        })
      .form-elements__expandable-checkboxes
        .form-elements__expander
          +expandable-checkboxes({
            items: simpleCheckboxData,
            title: "Expandable checkbox list",
          })
        .form-elements__opened-expander
          +expandable-checkboxes({
            items: simpleCheckboxData,
            title: "Expandable checkbox list",
            isOpened: true
          })
      .form-elements__rich-checkboxes
        h3.form-elements__hight-title Rich checkbox buttons
        +checkbox-list({
          items: [
            {
              text: "Широкий коридор",
              description: "Ширина коридоров в номере \nне менее 91 см."
            },
            {
              text: "Помощник для инвалидов",
              description: "На 1 этаже вас встретит специалист \nи проводит до номера."
            },
          ]
        })
      .form-elements__bullets
        h3.form-elements__title Bullet list
        .form-elements__bullet-list
          +bullet-list({
            items: [
              "Нельзя с питомцами",
              "Без вечеринок и мероприятий",
              "Время прибытия — после 13:00, а выезд до 12:00"
            ]
          })
      .form-elements__iconed-list
        +iconed-list([
          {
            icon: "face",
            title: "Комфорт",
            description: "Шумопоглощающие стены"
          },
          {
            icon: "city",
            title: "Удобство",
            description: "Окно в каждой из спален"
          },
        ])
      .form-elements__feedback
        +feedback(
          {
            img: {src: require("./images/avatar-1.jpg").default, alt: "Somebody"},
            name: "Мурад Сарафанов",
            time: "5 дней назад",
            text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
            like: {count: 12, active: true}
          })







