@import '../../env-styles/abstract';
@import '../../env-styles/variables';

.link-with-menu {
  color: $dark_shade50;
  height: 100%;
  display: flex;
  align-items: center;

  &__expander {
    display: flex;
    cursor: pointer;
    background: none;
    border: none;
  }

  &__icon {
    @extend %material-icons;
    color: $dark_shade50;
  }
}
