mixin dropdownMenu
  // todo: button may be
  div.dropdown-menu&attributes(attributes)
    .dropdown-header.field.select
      span
      i.material-icons expand_more
    .dropdown-content
      .dropdown-buttons
        button.dropdown-cancel Очистить
        button.dropdown-confirm.text-button Применить



