mixin dropdownMenu(overHtml)
  // todo: button may be
  div.dropdown-menu&attributes(attributes)
    .dropdown-header.field.select
      span
      i.material-icons expand_more
    div(class=overHtml?'dropdown__content_over':'').dropdown-content
      .dropdown-buttons
        button(hidden).dropdown-confirm Применить
        button(hidden).dropdown-cancel Очистить



