extends ../layout/layout

block main

  include ../../../kit/blocks/search-card/search-card

  article.landing
    .landing__content
      .landing__card
        +search-card(action='./search-room.html')
      .landing__text
        | Лучшие номера для вашей работы,
        br
        | отдыха и просто вдохновения
        | Константин Константинович Константинопольский Константин Константинович Константинопольский Константин Константинович Константинопольский Константин Константинович Константинопольский Константин Константинович Константинопольский
