extends ../layout/layout

block main

  include ../../../kit/blocks/search-card/search-card

  article.landing
    .landing__card
      +search-card(action='./search-room.html')
    .landing__container
      .landing__text Лучшие номера для вашей работы, отдыха и просто вдохновения
