extends ../layout/layout

block keywords
  meta(name="keywords" content="отель, toxin, поиск номеров, главная страница toxin")
block description
  meta(name="description" content="Поиск отеля по вашим предпочтениям")

block main

  include ../../../kit/blocks/search-card/search-card

  article.landing
    .landing__content
      .landing__card
        +search-card(action='/search-room.html')
      .landing__text
        | Лучшие номера для вашей работы,
        br
        | отдыха и просто вдохновения
