$landing-page-point: 480px;

.landing {
  background: url(./imgs/landing.jpg) center;
  background-size: cover;
  height: 830px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: $landing-page-point) {
    align-items: center;
  }

  &__card {
    padding: 70px 5px 0;
    margin: 0 9.3%;
    max-width: 390px;
    @media screen and (max-width: $landing-page-point) {
      margin: 0;
    }
  }

  &__text {
    height: 100%;
    margin-right: 9.4%;
    margin-bottom: 20px;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    white-space: pre-line;

    @media screen and (max-width: $landing-page-point) {
      margin-right: 0;
    }
  }
}
