extends ../layout/layout

block content
  main.landing-page__main
    .landing-page__card
      +search-card
    .landing-page__container
      .landing-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения
