extends ../layout/layout

block main

  include ../../../kit/blocks/search-card/search-card

  main.landing-page__main
    .landing-page__card
      +search-card
    .landing-page__container
      .landing-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения
