@import '../../env-styles/abstract';
@import '../../env-styles/variables';

.rating {
  position: relative;
  border: none;

  &__input {
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0;
  }

  &__input:checked ~ &__star_filled {
    display: none;
  }

  &__star {
    display: inline-flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;

    &_position_absolute {
      position: absolute;
    }

    &_0 {
      left: 0;
    }

    &_1 {
      left: 24px;
    }

    &_2 {
      left: 2*24px;
    }

    &_3 {
      left: 3*24px;
    }

    &_4 {
      left: 4*24px;
    }
  }
}
