@import '~material-icons/iconfont/material-icons';
@import '../../env-styles/variables';

.rating {
  display: inline-block;
  position: relative;
  border: none;
  line-height: 20px;

  &__input {
    opacity: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
  }

  &__input:checked ~ &__star_active {
    background: transparent;
  }

  &__star {
    @extend .material-icons;
    color: transparent;
    background: $gradient;
    -webkit-background-clip: text;

    width: 24px;
    height: 24px;

    &_absolute {
      position: absolute;
    }

    &_0 {
      left: 0;
    }

    &_1 {
      left: 24px;
    }

    &_2 {
      left: 2*24px;
    }

    &_3 {
      left: 3*24px;
    }

    &_4 {
      left: 4*24px;
    }
  }
}
