@import '../../env-styles/abstract';
@import '../../env-styles/variables';

.rating {
  position: relative;
  display: inline-block;
  border: none;
  line-height: 20px;

  &__input {
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0;
  }

  &__input:checked ~ &__star_active {
    background: transparent;
  }

  &__star {
    @extend %material-icons;

    width: 24px;
    height: 24px;
    line-height: px-to-rem(20px);
    background: $gradient;
    -webkit-background-clip: text;
    color: transparent;

    &_absolute {
      position: absolute;
    }

    &_0 {
      left: 0;
    }

    &_1 {
      left: 24px;
    }

    &_2 {
      left: 2*24px;
    }

    &_3 {
      left: 3*24px;
    }

    &_4 {
      left: 4*24px;
    }
  }
}
