mixin rating({rating=0, groupName})
  if groupName
    fieldset.rating&attributes(attributes)
      - let i=0
      while i < 5
        div(class="rating__star_" + i).rating__star.rating__star_absolute.rating__star_passive
          include ./svg/star-bordered.svg
        div(class="rating__star_" + i).rating__star.rating__star_absolute.rating__star_active
          include ./svg/star.svg
        input(class="rating__star_" + i type="radio" name=groupName || "stars" value=i + 1 checked=(rating === (i + 1))).rating__item.rating__input
        - i++;
  else
    .rating
      - let i=0
      while i < rating
        .rating__star.rating__star_active
          include ./svg/star.svg
        - i++;
      while i < 5
        .rating__star.rating__star_passive
          include ./svg/star-bordered.svg
        - i++;
