@import "../../env-styles/functions";

.simple-footer {
  height: pxToRem(367px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: $shadow_smaller;
  background: white;

  &__tagline {
    margin: 20px 0 25px 0;
    max-width: pxToRem(560px);
    text-align: center;
  }
}
