@import '../../env-styles/functions';
@import '../../env-styles/variables';
@import '../../env-styles/theme';

$footer-point-medium: 940px;
$footer-point-small: 768px;

.footer {
  border-top: 1px solid $dark-shade5;
  background: white;
  box-shadow: $shadow-smaller;

  @media screen and (max-width: $footer-point-small) {
    padding-top: 115px;
    padding-bottom: 95px;
  }

  &__menu {
    display: grid;
    max-width: px-to-rem(1220px);
    padding: 15px 19px 15px 20px;
    margin: 94px auto 80px;
    grid-row-gap: 30px;
    grid-template-columns: 1.01fr 2.5fr 1.02fr;

    @media screen and (max-width: $footer-point-medium) {
      grid-template-columns: 1fr;
      justify-items: center;
    }

    @media screen and (max-width: $footer-point-small) {
      margin: 0 auto;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__logo {
    max-width: 260px;

    @media screen and (max-width: $footer-point-medium) {
      display: flex;
      max-width: 715px;
      flex-direction: column;
      align-items: center;
    }
  }

  &__tagline {
    margin-top: 10px;

    @media screen and (max-width: $footer-point-medium) {
      text-align: center;
    }

    @media screen and (max-width: $footer-point-small) {
      display: none;
    }
  }

  &__nav {
    display: grid;
    margin: 4px 41px 0;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;

    @media screen and (max-width: $footer-point-small) {
      display: none;
    }
  }

  &__nav-title {
    @extend h3;

    margin-bottom: 20px;
  }

  &__nav-item {
    margin-bottom: 13px;
    list-style: none;
  }

  &__nav-link{
    line-height: px-to-rem(17px);
  }

  &__subscribe-offer {
    max-width: 260px;
    margin-top: 4px;

    @media screen and (max-width: $footer-point-medium) {
      display: flex;
      max-width: initial;
      flex-direction: column;
      align-items: center;
    }

    @media screen and (max-width: $footer-point-small) {
      display: none;
    }
  }

  &__subscribe-title {
    margin-bottom: 18px;

    @media screen and (max-width: $footer-point-medium) {
      text-align: center;
    }
  }

  &__subscribe-info {
    margin-bottom: 23px;

    @media screen and (max-width: $footer-point-medium) {
      margin-bottom: 10px;
      text-align: center;
    }
  }

  &__subscribe-input {
    max-width: 260px;
  }

  &__separator {
    width: 100%;
    height: 1px;
    background: $dark-shade10;

    @media screen and (max-width: $footer-point-small) {
      display: none;
    }
  }

  &__info {
    display: flex;
    max-width: px-to-rem(1210px);
    align-items: center;
    justify-content: space-between;
    padding: 21px 14px;
    margin: auto;

    @media screen and (max-width: $footer-point-small) {
      flex-direction: column;
      padding-top: 13px;
      text-align: center;
    }
  }

  &__copyright {
    margin-left: 10px;
    line-height: px-to-rem(17px);

    @media screen and (max-width: $footer-point-small) {
      margin-bottom: 23px;
      margin-left: 0;
    }
  }
}
