doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Demo Routing
  body.demo
    a(href="./colors-and-type.html").demo__a Colors & Types
    a(href="./form-elements.html").demo__a Form Elements
    a(href="./cards.html").demo__a Cards
    a(href="./headers-and-footers.html").demo__a Headers & footers
    .demo__separator
    a(href="./landing.html").demo__a Landing page
    a(href="./search-room.html").demo__a Search page
    a(href="./room-details.html").demo__a Room details
    a(href="./login.html").demo__a Login
    a(href="./registration.html").demo__a Registration
