doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Debug
  body
    a(href="./form-elements.html") Form Elements
    a(href="./headers-and-footers.html") Headers and footers
    a(href="./cards.html") Cards
    a(href="./colors-and-type.html") Colors
    a(href="./landing.html") Landing
    a(href="./search-room.html") Search
    a(href="./room-details.html") Room details
    a(href="./login.html") Login
