@import "~air-datepicker/dist/css/datepicker.min.css";
@import "../../env-styles/variables";

@mixin doubleBackground($circleColor, $bgBorderRadius, $circleOpacity, $circleBorderRadius) {
  background: $gradient25;
  border-radius: $bgBorderRadius;
  border-width: 0;
  &:after {
    position: absolute;
    display: inline-block;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;

    background: $circleColor;
    opacity: $circleOpacity;
    border-radius: $circleBorderRadius;
  }
}

.datepicker {
  box-sizing: border-box;
  width: pxToRem(320px);
  padding: 19px;

  font-family: $quicksand;
  color: $dark_shade50;
  cursor: default;

  box-shadow: $shadow_smaller;
  &-inline{
    box-shadow: $shadow_smaller;
  }

  &-icons {
    color: $primary;
  }

  &--pointer {
    display: none;
  }

  &--content {
    padding: 0;
  }

  &--buttons {
    margin-top: 20px;
    padding: 0;
    justify-content: space-between;
    border: none;
  }

  &--nav {
    padding: 0;
    border: none;

    &-title {
      margin-bottom: 30px;
      height: min-content;
      line-height: pxToRem(24px);

      font-family: $quicksand;
      font-size: pxToRem(19px);
      font-weight: bold;
      color: $dark_shade100;
      &:hover{
        background: white;
      }
    }

    &-action {
      width: min-content;
      height: min-content;
      &:hover{
        background: white;
      }
    }
  }

  &--days-names {
    margin-bottom: 9px;
  }

  &--day-name {
    font-size: pxToRem(12px);
    font-weight: bold;
    color: $primary;
    text-transform: capitalize;
  }

  &--sells {
    font-size: pxToRem(12px);
  }

  &--cell {
    border-radius: 50%;

    &-day {
      width: pxToRem(40px);
      height: pxToRem(40px);
      &.-other-month-{
        color: $dark_shade25;
      }
    }

    &.-in-range- {
      background: $gradient25;

      &.-focus- {
        @include doubleBackground($gradient, 0, 0.3, 50%);
      }
    }

    &.-current- {
      font-weight: bold;
      background: $secondary_gradient;
      color: white;
      border-radius: 50%;

      &.-in-range- {
        color: white;
        @include doubleBackground($secondary_gradient, 0, 1, 50%);
      }
    }

    &.-range-from- {
      font-weight: bold;
      @include doubleBackground($gradient, 50% 0 0 50%, 1, 50%);
    }

    &.-range-to- {
      font-weight: bold;
      @include doubleBackground($gradient, 0 50% 50% 0, 1, 50%);
    }

    &.-selected-.-focus- {
      background: $gradient25;
    }
  }

  &--button {
    height: min-content;
    flex: 0;
    line-height: pxToRem(15px);

    font-size: pxToRem(12px);
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;

    border: none;
    background: white;

    &:hover{
      background: white;
      color: inherit;
    }

    &-apply {
      color: $primary;
      &:hover{
        color: $primary;
      }
    }

    &-cancel {
      color: $dark_shade50;

    }
  }
}

.-selected-.datepicker--cell-day.-other-month- {
  background: $gradient25;
}
