@import '../../env-styles/abstract';
@import '../../env-styles/functions';
@import '../../env-styles/variables';

@mixin double-background($circleColor, $bgBorderRadius, $circleOpacity) {
  background: $gradient25;
  border-radius: $bgBorderRadius;

  &::before {
    position: absolute;
    z-index: -1;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: $circleColor;
    border-radius: 50%;
    content: '';
    opacity: $circleOpacity;
  }
}

.datepicker {
  position: absolute;
  z-index: 10;
  left: -100000px;
  width: 100%;
  max-width: px-to-rem(320px);
  padding: 19.5px 18px 19px 20px;
  border: 1px solid $dark-shade25 {
    radius: 4px;
  }
  background: white;
  box-shadow: $shadow-smaller;
  color: $dark-shade50;
  cursor: default;
  line-height: 1.25;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;

  @media screen and (max-width: 345px) {
    max-width: px-to-rem(310px);
    padding: 18px;
  }

  &--nav {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 1px;
    margin-bottom: 42px;

    &-title {
      margin: auto;
      color: $dark-shade100;
      cursor: pointer;
      font-family: $quicksand;
      font-size: px-to-rem(19px);
      font-weight: bold;
    }

    &-action {
      position: absolute;
      display: flex;
      align-items: center;
      color: $primary;
      cursor: pointer;

      &.-disabled- {
        display: none;
      }

      &[data-action='next'] {
        right: 0;
      }
    }
  }

  &--icons {
    @extend %material-icons;
  }

  &--body {
    display: none;

    &.active {
      display: block;
    }
  }

  &--days {
    font-size: px-to-rem(12px);

    &-names {
      display: flex;
      justify-content: space-around;
      margin-bottom: 12px;
      color: $primary;
      font-weight: bold;
    }
  }

  &--cells {
    display: grid;
    align-items: stretch;
    justify-content: center;
    grid-auto-rows: px-to-rem(40px);
    grid-template-columns: repeat(7, px-to-rem(40px));
    justify-items: stretch;
    line-height: px-to-rem(40px);
    text-align: center;
  }

  &--cell {
    position: relative;
    z-index: 1;
    border-radius: 50%;

    &::after {
      position: absolute;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 100%;
      content: '';
      cursor: pointer;
    }

    &-day {
      &.-other-month- {
        color: $dark-shade25;
      }

      &.-focus- {
        background: $gradient25;
      }

      &.-disabled- {
        background: transparent;

        &::after {
          cursor: initial;
        }

        &.-in-range- {
          background: transparent;
        }

        &.-range-from- {
          background: transparent;
          color: inherit;
          font-weight: normal;

          &::before {
            background: transparent;
          }
        }
      }
    }

    &.-in-range- {
      background: $gradient25;
      border-radius: 0;

      &.-focus- {
        @include double-background($gradient, 0, 0.3);
      }
    }

    &.-current- {
      background: $secondary-gradient;
      color: white;
      font-weight: bold;

      &.-in-range- {
        @include double-background($secondary-gradient, 50% 0 0 50%, 0.7);
      }
    }

    &.-range-from- {
      @include double-background($gradient, 50% 0 0 50%, 1);

      color: white;
      font-weight: bold;
    }

    &.-range-to- {
      @include double-background($gradient, 0 50% 50% 0, 1);

      color: white;
      font-weight: bold;
    }
  }

  &--buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 21px;
  }

  &--button {
    cursor: pointer;
    font-size: px-to-rem(12px);
    font-weight: bold;
    text-transform: uppercase;

    &-apply {
      color: $primary;

      &:hover {
        color: $dark-shade50;
      }
    }

    &-hidden {
      display: none;
    }
  }

  &.-from-top- {
    transform: translateY(-8px);
  }

  &.-from-right- {
    transform: translateX(8px);
  }

  &.-from-bottom- {
    transform: translateY(8px);
  }

  &.-from-left- {
    transform: translateX(-8px);
  }

  &.active {
    opacity: 1;
    transform: translate(0);
    transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s;
  }
}

.datepicker-inline {
  width: 100%;

  .datepicker {
    position: static;
    right: auto;
    left: auto;
    opacity: 1;
    transform: none;
  }
}

.datepickers-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: px-to-rem(320px);
}
