@import "../../env-styles/common";

.date-dropdown {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  &__first-date, &__last-date {
    width: 100%;

    &::selection {
      background: none;
    }
  }

  &__iconed-input {
    position: relative;
    height: auto;
    //min-width: pxToRem(117px);
    cursor: pointer;
  }

  &__icon {
    text-align: center;
    line-height: pxToRem(44px);
    margin: auto;
    width: pxToRem(44px);
    height: pxToRem(44px);
    position: absolute;
    bottom: 0;
    right: 0;
    justify-content: right;
    color: $dark_shade50;
  }
}


