@import "../../env-styles/functions";
@import "../../env-styles/abstract";

.search-card {
  @extend %card;
  display: flex;
  flex-direction: column;
  padding: 40px 30px 30px 30px;
  gap: pxToRem(20px);

  &__submit-button {
    margin-top: pxToRem(10px);
  }

}
