extends ../layout/layout

block body
  include ../../../kit/blocks/kit-header/kit-header

  body.colors-and-type
    +kit-header
    main.colors-and-type__main
      section.colors-and-type__colors
        -
          let colors = [
            {name: "Dark Shade 100%", num: "#1F2041"},
            {name: "Dark Shade 75%", num: "#1F2041"},
            {name: "Dark Shade 50%", num: "#1F2041"},
            {name: "Dark Shade 25%", num: "#1F2041"},
            {name: "Dark Shade 5%", num: "#1F2041"},
            {name: "Purple", num: "#BC9CFF"},
            {name: "Green", num: "#6FCF97"}
          ]
        each color, i in colors
          div(class="colors-and-type__color_" + i).colors-and-type__color
          .colors-and-type__description
            .colors-and-type__name=color.name
            .colors-and-type__num=color.num
      section.colors-and-type__headers
        h1.colors-and-type__prefix H1
        .colors-and-type__positioner
          h1.colors-and-type__h This one is the sub-section or widget title
        h2.colors-and-type__prefix H2
        .colors-and-type__positioner
          h2.colors-and-type__h Next one is the item title inside widgets
        h3.colors-and-type__prefix H3
        h3.colors-and-type__h This is a label or CTA text
        .colors-and-type__prefix Body
        .colors-and-type__body-example This is the body text which is used for most of the design, like paragraphs, lists, etc.

