include ../../../kit/blocks/kit-header/kit-header

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    title UIKitColors
  body.colors-page
    +kit-header
    main.colors-page__main
      section.colors-page__colors
        -
          let colors = [
            {name: "Dark Shade 100%", num: "#1F2041"},
            {name: "Dark Shade 75%", num: "#1F2041"},
            {name: "Dark Shade 50%", num: "#1F2041"},
            {name: "Dark Shade 25%", num: "#1F2041"},
            {name: "Dark Shade 5%", num: "#1F2041"},
            {name: "Purple", num: "#BC9CFF"},
            {name: "Green", num: "#6FCF97"},
          ]
        each color, i in colors
          div(class="colors-page__color_" + i).colors-page__color
          .colors-page__description
            .colors-page__name=color.name
            .colors-page__num=color.num
      section.colors-page__headers
        h1.colors-page__prefix H1
        h1 This one is the sub-section or widget title
        h2.colors-page__prefix H2
        h2 Next one is the item title inside widgets
        h3.colors-page__prefix H3
        h3 This is a label or CTA text
        .colors-page__prefix.colors-page__prefix_type_body Body
        .colors-page__body-example This is the body text which is used for most of the design, like paragraphs, lists, etc.

