@import "../../../kit/env-styles/common";

.fields-example {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 20px;

  @media screen and (max-width: 1045px) {
  }

  > * {
    max-width: 320px;
  }
}
