extends ../layout/layout

block keywords
  meta(name="keywords" content="отель, toxin, профиль, вход")
block description
  meta(name="description" content="Вход в аккаунт Toxin")

block main
  include ../../../kit/blocks/login-card/login-card
  include ../../../kit/blocks/registration-card/registration-card

  article.login
    .login__card
      +login-card

