extends ../layout/layout

block main
  main.login-page
    .login-page__card.js-login-page__card
      +login-card
    .login-page__card.js-login-page__card.login-page__card_hidden
      +registration-card

