@import '../../../kit/env-styles/functions';

.login {
  background: url('./images/login.jpg') center;
  min-height: 703px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2px;

  &__card {
    width: pxToRem(380px);
    margin-top: 10px;
    margin-bottom: 10px;

    &_hidden {
      display: none;
    }
  }
}
