extends ../layout/layout

block main
  include ../../../kit/blocks/login-card/login-card
  include ../../../kit/blocks/registration-card/registration-card

  article.login
    .login__card
      +login-card

