extends ../layout/layout

block main
  include ../../../kit/blocks/login-card/login-card
  include ../../../kit/blocks/registration-card/registration-card

  main.login-page
    .login-page__card.js-login-page__card
      +login-card
    .login-page__card.js-login-page__card.login-page__card_hidden
      +registration-card

