@import "../../../kit/env-styles/functions";

.login-page {
  background: url("./images/login.jpg") center;
  height: 703px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2px;

  &__card {
    width: pxToRem(380px);
    &_hidden {
      display: none;
    }
  }
}
