.field {
  width: 100%;
  max-width: 320px;
  height: 44px;
  line-height: 18px;

  padding-left: 15px; // 141 156 w320

  font: $dark_shade25;
  background: white;
}

.field_bordered{
  @extend .field;

  border-radius: 4px;
  border: 1px solid $dark_shade25;
}
