mixin registration-card
  div(class=attributes.class).registration-card
    - delete attributes['class']
    form.registration-card__form&attributes(attributes)
      .registration-card__section
        h1.registration-card__header Регистрация аккаунта
        +input({})(placeholder='Имя' name='first-name')
        +input({})(placeholder='Фамилия' name='last-name')
        +radioList([
          {text: 'Мужчина', attributes: {value: 'M', name: 'gender', checked: true}},
          {text: 'Женщина', attributes: {value: 'W', name: 'gender'}}
        ])
      .registration-card__section
        +input({title: 'Дата рождения', isDateMasked: true})(name='birthday')
      .registration-card__section
        +input({title: 'Данные для входа в сервис'})(placeholder='Email' type='email' name='email')
        +input({})(placeholder='Пароль' type='password' name='password')
        +toggle('Получать спецпредложения')
      .registration-card__section
        +button('Перейти к оплате', {isArrowed: true})
    .registration-card__login-offer
      | Уже есть аккаунт на Toxin
      +button('Войти', {isFlat:true})
